<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Nola300 Booth Interface</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel="stylesheet" href="/fonts/digital-7/stylesheet.css" type="text/css" charset="utf-8" />
		<style>

		body {
			color: red;
			background: black;
			font-family: 'digital-7_monomono';
			text-align: center;
			font-size: 30px;
			font-size: 40vw;
		}
		</style>

	</head>
	<body>

		<div class="container-fluid" id="main">
		00:00
		</div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

		<script src="/socket.io/socket.io.js"></script>
		<script>
			const APP_STATE = {
				IDLE: 			"idle",
				SUBMITTED: 		"submitted",
				STARTING: 		"starting",
				IN_PROGRESS: 	"in progress",
				STOPPING: 		"stopping"
			};

			var socket = io.connect("/ui");
			var container = $("#main");

			socket.on('countdown', function (data) {
				container.text( data );
			});

			socket.on('user', function(story) {
				console.log(story);
				container.text( story.fname + " "+story.lname );
			});

			socket.on('state', function(new_state){
				switch(new_state) {
					case APP_STATE.IDLE:
						container.text("00:00");
						break;
					case APP_STATE.SUBMITTED:
						break;
					case APP_STATE.STARTING:
						break;
					case APP_STATE.IN_PROGRESS:
						break;
					case APP_STATE.STOPPING:
						container.text( "Thanks!" );
						break;
				}
			});
		</script>
	</body>
</html>