<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
		<title>{{title}}</title>

		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/index.css" >
	</head>

 	<body>

		<div class="jumbotron">
			<h1 class="display-3" id="countdown">00:00:00</h1>
			<h1 class="display-4" id="user_name">No User</h1>
			
			<p class="lead" id="session_state">Not Recording</p>

			<p>
				<a class="btn btn-lg btn-success" href="#" role="button" id="pedal_button">Pedal</a>
			</p>
			<p><a class="btn btn-lg btn-success disabled" href="#" role="button" id="cancel_button">Cancel</a></p>

			<div id="socket"></div>
			<div id="devices"></div>
		</div>  <!-- /jumbotron -->

		
		<div id="recent" class="jumbotron">
		</div> <!-- /container -->


		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="/js/jquery-3.2.1.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
		$(document).ready(function() {
			const APP_STATE = {
				IDLE: 			"idle",
				SUBMITTED: 		"submitted",
				STARTING: 		"starting",
				IN_PROGRESS: 	"in progress",
				STOPPING: 		"stopping"
			};
			var socket = io.connect("/ui");
			var user_name = $("#user_name");
			var countdown = $("#countdown");
			var cancel_button = $("#cancel_button");
			var pedal_button = $("#pedal_button");
			var session_state = $("#session_state");
			var heartbeat = {};

			var socket_status = function() {
				if(socket) {
					var status = socket.connected ? "connected" : "disconnected";
					var color = socket.connected ? "green" : "red";
					$("#socket").html(`<span style="color: ${color}">Websocket Status: ${status}</div>`);
				}
				setTimeout(socket_status, 100);
			};
			socket_status();


			socket.on('countdown',  (data) => {
				//console.log('countdown', data );
				countdown.text( data.join(":") );
			});

			socket.on('devices', (devices) => {
				$("#devices").html("");
				var spans = [];
				devices.forEach( device => {
					heartbeat[device.name] = Date.now();
					var color = device.status ? "green" : "red";
					spans.push(`<span style="color: ${color};">${device.name}</span>`);
				});
				$("#devices").html(spans.join("&nbsp;&nbsp;|&nbsp;&nbsp;"));
			});

			socket.on('story', (story) => {
				console.log("story", story);
				user_name.text(story.firstName + " " + story.lastName);
			});

			socket.on('state', (state) => {
				console.log("state", state);
				switch(state) {
					case APP_STATE.IDLE:
						session_state.text("Idle");
						countdown.text("00:00");
						user_name.text("No User");
						break;
					case APP_STATE.SUBMITTED:
						session_state.text("Submitted");
						cancel_button.removeClass("disabled");
						break;
					case APP_STATE.STARTING:
						session_state.text("Starting");
						break;
					case APP_STATE.IN_PROGRESS:
						session_state.text("In Progress");
						break;
					case APP_STATE.STOPPING:
						session_state.text("Stopping");
						cancel_button.addClass("disabled");
						break;
				}
			});

			cancel_button.click(function(evt){
				console.log("cancel");
				socket.emit("cancel");
			});
			pedal_button.click(function(evt){
				console.log("pedal");
				socket.emit("pedal");
			});

			var load_recent = function() {
				$("#recent").load("/recent", function(response, status, xhr){
					if ( status == "error" ) { }
					setTimeout(load_recent, 2000);
				});
			}

			load_recent();
		});
		</script>
	</body>
</html>
