
<!--IPAD SIZE : 1366 x 959 without tabs.--><!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nolan 300</title>
    <link rel="stylesheet" type="text/css" href="./css/onboard.css">
  </head>
  <body>
    <div class="content">
      <div class="view selected" id="landing">
        <div class="bg">
          <div class="video selected">
            <video playsinline autoplay muted loop>
              <source src="./assets/video_bg.mp4" type="video/mp4">
            </video>
            <!--img(src="./assets/landing_bg_placeholder.png")-->
          </div>
          <div class="color"></div>
        </div>
        <div class="container selected">
          <!--.rightTitle.
          NOLA TRICENTENIAL
          
          -->
          <div class="images">
            <figure class="bigLogo"><img src="./assets/StoryBooth_Logo.svg"></figure>
            <!--figure.smallIcon
            img(src="./assets/landing_divider.svg")
            
            -->
          </div>
          <div class="copy">
            <!--p.title NOLA 300TH anniversary storytelling experience-->
            <p>
              Spend any amount of time in New Orleans, and chances are you’ll have a great story to tell. Record your best ones here and share them with the world.
              
            </p>
          </div>
          <div class="full btn bottomBtn begin">
            <p>Begin</p>
          </div>
        </div>
      </div>
      <div class="view" id="about_you">
        <div class="bg">
          <div class="video">
            <video playsinline autoplay muted loop>
              <source src="./assets/video_bg.mp4" type="video/mp4">
            </video>
          </div>
          <div class="color"></div>
        </div>
        <div class="container">
          <div class="leftBar">
            <div class="title">Tell <br> us <br> about <br> you.</div>
            <div class="progress">
              <div class="copy"><span>01 of 03</span></div>
            </div>
          </div>
          <div class="rightBar">
            <div class="content">
              <div class="header">
                <h1>Enter your information so we can send you a link to your video.</h1>
              </div>
              <div class="formContainer">
                <form>
                  <div class="text">
                    <input class="full" type="text" autocomplete="false" name="firstName" placeholder="First Name" required>
                    <input class="full" type="text" autocomplete="false" name="lastName" placeholder="Last Name" required>
                    <input class="full" type="email" autocomplete="false" name="email" placeholder="Email" required>
                    <!--input.half(type="phone", autocomplete="false", name="zipCode", placeholder="Zip Code")-->
                    <input class="half" type="tel" value="" pattern="[0-9]{5}" maxlength="5" autocomplete="false" name="zipCode" placeholder="Zip Code" required>
                  </div>
                  <div class="check"><span class="termsAndConditions">
                      <input type="checkbox" name="termsAndConditions" required><span class="checkmark"></span>
                      <div class="label">
                        By checking this box you agree that:
                        <br>
                        <br>
                        1. You are at least 18 years or older
                        <br>
                        <br>
                        2. You agree to and you submission will be compliant with the <span class="termsConditionsLink">Terms and Conditions.</span> 
                        <br>
                        <br>
                        3. You hereby grant New Orleans Tourism Marketing Corporation the absolute right and permissions to record and use your image, voice, name, biographical information and on-camera filmed performance and any statements that you make about NOTMC and/or its products in whole or in part, alone or with other materials, or distorted in character or form, in and in connection with advertising, promotion and publicity materials for NOTMC and/or its products and services, including as contained in this submission throughout the world in perpetuity in any media now known or hereafter developed. 
                        
                      </div>
                      <!--I understand that, by submitting a story, I am granting the Sponsor and its agencies permission to use my name, likeness and story in their sole discretion without any compensation whatsoever and Sponsor and its agencies have the right to edit, adapt, modify, reproduce, promote and otherwise use my story in any way they see ﬁt. I understand and agree that my submission any be used in any or all of the following instances: as inspiration for a song, in advertising by the city of New Orleans and/or in any of the marketing pieces or on owned web properties, all without restriction and compensation. <br><br>No purchase Necessary. Void where prohibited. Open to 50 US & D.C. residents (excluding PR and all US territories & possessions), 21 or older. Begins 12:01am ET on 10/01/17 and ends 12:59pm ET on 11/20/17. <span class="termsConditionsLink">For terms and conditions click here.</span> Sponsor: The city of New Orleans.--></span><span class="emailList">
                      <input type="checkbox" name="emailList" required><span class="checkmark"></span>
                      <div class="label">By checking this box you agree that the information you submit is subject to and will be used as stated in <span class="newOrleansTourismPolicyLink">New Orleans Tourism Marketing Corporation privacy policy</span></div>
                      <!--.label Would you like to be added to the New Orleans Tourism mailing list?--></span></div>
                </form>
              </div>
              <div class="btnContainer">
                <div class="back btn rect disable">
                  <p>Back</p>
                </div>
                <div class="next btn rect validateForm">
                  <p>Next</p>
                </div>
              </div>
            </div>
          </div>
          <div class="termsAndConditions popup hidden">
            <h1 class="title">Storybooth Submission Policy</h1>
            <div class="xBtn btn round">
              <figure><img src="./assets/btn_x_img.svg"></figure>
            </div>
            <div class="floatCleaner"></div>
            <div class="termsContainer">
              <p>Your use of the Storybooth is subject to the following terms and conditions (“Terms”). New Orleans Tourism Marketing Corporation (NOTMC) is happy that you want to participate.</p>
              <p>Submission Terms:</p>
              <ul>
                <li>Storybook videos may be posted publicly, so please do not submit any personal identification, such as license plate numbers, personal names, e-mail addresses or street addresses that you would not want made public;</li><br>
                <li>Submissions cannot be sexually explicit or suggestive, violent, or derogatory of any ethnic, racial, gender, religious, professional or age group, profane or pornographic, contain nudity, or any materially dangerous activity;</li><br>
                <li>Submissions cannot promote alcohol, illegal drugs, tobacco, firearms/weapons (or the use of any of the foregoing), any activities that may appear unsafe or dangerous, or any particular political agenda or message;</li><br>
                <li>Submissions cannot be obscene or offensive, endorse any form of hate or hate group;</li><br>
                <li>Submissions cannot defame, misrepresent or contain disparaging remarks about NOTMC or its products, or other people, products or companies;</li><br>
                <li>Submissions cannot contain copyrighted materials owned by others without permission;</li><br>
                <li>Submissions cannot contain materials embodying the names, likenesses, photographs, or other indicia identifying any person, living or dead, without permission;</li><br>
                <li>Submissions cannot communicate messages or images inconsistent with the positive images and/or goodwill to which NOTMC wishes to associate;</li><br>
                <li>Submissions cannot depict, and cannot itself, be in violation of any law;</li><br>
                <li>No product or marketing suggestions will be accepted.</li><br>
              </ul>
              <p>BY MAKING A SUBMISSION, SUBMITTER ACKNOWLEDGES THAT HIS/HER CONTENT MAY BE POSTED ON THE NEW ORLEANS TOURISM WEBSITE AND SOCIAL MEDIA PLATFORMS (“PLATFORMS”), IN NOTCM’s DISCRETION. NOTCM reserves the right to, and may or may not, monitor/screen Submissions prior to posting them to the Platforms. By making a Submission, you acknowledge that NOTCM has no obligation to use or post any video you submit.</p>
              <p>By making a Submission on through the Storybooth you warrant and represent that: (a) you are at least 18 years of age or older and have the right to agree to these Terms, (b) that publication of your Submission via various media including on the Internet, will not infringe on any third party rights, (c) abiding by these Terms does not in any way conflict with any existing commitment on your part; and (d) no other permission, payment to any third-party, or residual payment is required to enable Licensees to use the rights granted by you hereunder. By making a Submission you hereby agree to indemnify and hold harmless NOTMC from any claims to the contrary.</p>
              <p>SUBMISSIONS WERE NOT EDITED BY NOTMC AND ARE THE VIEWS/OPINIONS OF THE INDIVIDUAL SUBMITTER AND DO NOT REFLECT THE VIEWS OF NOTMC IN ANY MANNER. Any waiver of any obligation hereunder by NOTMC does not constitute a general waiver of any obligation to submitter.  </p>
              <p>By making a Submission, you agree that your Submission is gratuitous and made without restriction, and will not place NOTMC under any obligation, and that NOTMC is free to disclose the ideas contained in the Submission on a non-confidential basis to anyone or otherwise use the ideas without any additional compensation to you. You acknowledge that, by acceptance of your submission, NOTMC does not waive any rights to use similar or related ideas previously known to NOTMC, or developed by its employees, or obtained from sources other than you.</p>
              <p>My making a Submission you hereby grant to NOTMC and its respective affiliates, successors, subsidiaries, assigns, agencies, partners, representatives, and to other such persons as NOTMC may designate from time to time (collectively, "Licensees") the absolute right and permissions to record and use your image, voice, name, biographical information and on-camera filmed performance (collectively, your "Likeness") and any statements that you make about NOTMC and/or its products ("Statements") in whole or in part, alone or with other materials, or distorted in character or form, in and in connection with advertising, promotion and publicity materials for NOTMC and/or its products and services, including as contained in the Submission (altogether with the Submission, "Advertising Materials") throughout the world in perpetuity in any media now known or hereafter developed.</p>
              <p>You hereby waive all rights to inspect and approve the finished product, their use, the use of my Likeness, Statements or any such written or spoken copy as may be used in connection therewith. Nothing in this release shall obligate NOTMC to make use of any of the Advertising Materials or other rights set forth herein. You further agree that you have no rights whatsoever in the Advertising Materials and you assign any rights you may have in and to the Advertising Materials to NOTMC. If you should receive any copies of the Advertising Materials, you shall not make any commercial use of the Advertising Materials and shall not authorize use of the Advertising Materials by any third party. </p>
              <p>You understand and agree that Licensees are relying on the grant of rights and permissions embodied in this Release and therefore agree that my consent to this Release is irrevocable. You agree that Licensees shall not be required to obtain any further approval from you. </p>
              <p>You hereby agree that you release discharge, covenant not to sue and otherwise agree to hold harmless Licensees from any liability caused by, or arising by virtue of, any use whatsoever of your Likeness or Submission in accordance with the terms hereof, whether intentional or otherwise, including but not limited to any payment obligation or liability for what might be deemed to be misrepresentation or defamation of you, my character or my person due to distortion, alteration, optical illusion or faulty processing or reproduction which may occur in the finished product. </p>
              <p>These terms shall be governed by the laws of the State of Louisiana without regard to its conflicts of laws provisions. In the event of a dispute, the parties hereby submit to the exclusive jurisdictions of the stated and federal courts located in the State of Louisiana.</p>
            </div>
            <div class="goDownArrow">
              <figure><img src="./assets/btn_arrow_down_img.svg"></figure>
            </div>
          </div>
        </div>
      </div>
      <div class="view instructions" id="instructions_1">
        <div class="bg">
          <div class="video">
            <video playsinline autoplay muted loop>
              <source src="./assets/video_bg.mp4" type="video/mp4">
            </video>
            <!--img(src="./assets/jazz_bg_placeholder.jpg")-->
          </div>
          <div class="color"></div>
        </div>
        <div class="container">
          <div class="leftBar">
            <!--.vertialTitle.One Time in New Orleans
            -->
            <div class="title">This <br> booth <br> reacts <br> to <br> your <br> story.</div>
            <div class="progress">
              <div class="copy"><span>02 of 03</span></div>
            </div>
          </div>
          <div class="rightBar">
            <div class="content">
              <div class="instructionsContainer">
                <div class="instruction">
                  <figure><img src="./assets/projections_img.svg"></figure>
                  <div class="copy">
                    <h1>Projection-based <br> storytelling</h1>
                    <p>As you tell your story, we’ll project video footage on top and behind you.</p>
                  </div>
                </div>
                <div class="instruction">
                  <figure><img src="./assets/scenery_img.svg"></figure>
                  <div class="copy">
                    <h1>The footage</h1>
                    <p>Projections include New Orleans landmarks, traditions, moments, and textures.</p>
                  </div>
                </div>
                <div class="instruction">
                  <figure><img src="./assets/ai_img.svg"></figure>
                  <div class="copy">
                    <h1>Let the AI do its thing</h1>
                    <p>Artiﬁcial Intelligence will activate these projections by picking up on your words, gestures, and emotions.</p>
                  </div>
                </div>
              </div>
              <div class="btnContainer">
                <div class="back btn rect">
                  <p>Back</p>
                </div>
                <div class="next btn rect">
                  <p>Next</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="view instructions" id="instructions_2">
        <div class="bg">
          <div class="video">
            <video playsinline autoplay muted loop>
              <source src="./assets/video_bg.mp4" type="video/mp4">
            </video>
            <!--img(src="./assets/jazz_bg_placeholder.jpg")-->
          </div>
          <div class="color"></div>
        </div>
        <div class="container">
          <div class="leftBar">
            <!--.vertialTitle.One Time in New Orleans
            -->
            <div class="title">Here <br> is <br> how <br> to <br> record.</div>
            <div class="progress">
              <div class="copy"><span>03 of 03</span></div>
            </div>
          </div>
          <div class="rightBar">
            <div class="content">
              <div class="instructionsContainer">
                <div class="instruction">
                  <figure><img src="./assets/on_air_img.svg"></figure>
                  <div class="copy">
                    <h1>Enter the booth</h1>
                    <p>When the “On Air” sign turns off and a guest comes out.</p>
                  </div>
                </div>
                <div class="instruction">
                  <figure><img src="./assets/follow_marking_img.svg"></figure>
                  <div class="copy">
                    <h1>Follow the markings</h1>
                    <p>To know where to stand and face.</p>
                  </div>
                </div>
                <div class="instruction">
                  <figure><img src="./assets/pedal_img.svg"></figure>
                  <div class="copy">
                    <h1>Use the foot pedal to record</h1>
                    <p>You have a max of 45 seconds to tell your story. A timer will help you keep track.</p>
                  </div>
                </div>
              </div>
              <div class="btnContainer">
                <div class="back btn rect">
                  <p>Back</p>
                </div>
                <div class="next btn rect">
                  <p>Next</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="view" id="waiting_room">
        <div class="bg">
          <div class="video">
            <video playsinline autoplay muted loop>
              <source src="./assets/video_bg.mp4" type="video/mp4">
            </video>
            <!--img(src="./assets/jazz_bg_placeholder.jpg")-->
          </div>
          <div class="color"></div>
        </div>
        <div class="container">
          <div class="waiting">
            <h3>Wait, booth currently occupied...</h3>
            <p>Don't forget to start your story with:</p>
            <div class="letteringContainer"><?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 324 415" style="enable-background:new 0 0 324 415;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#FFE449;}
	.st1{filter:url(#Adobe_OpacityMaskFilter);}
	.st2{fill:#FFFFFF;}
	.st3{mask:url(#mask-2_2_);fill:#FFE449;}
	.st4{display:none;}
	.st5{display:inline;fill:#FFE449;}
</style>
<g id="Layer_1">
	<g id="lettering" transform="translate(223.000000, 218.000000)">
		<path id="Fill-1_4_" class="st0" d="M-178.2,0c-3.2,0.1-6.5,3.2-7.9,6c-1.9,3.9-0.8,6,2.2,6c3.2-0.1,6.5-3,8-6
			C-174,2.1-175.2-0.1-178.2,0"/>
		<path id="Fill-3_4_" class="st0" d="M-196.7,58l14.3-2.3c0.2,0,0.3-0.3,0.1-0.4c-1-0.3-2.4-1.8-1.7-5.2c0.6-3.3,6-31.5,7.1-36.9
			c0-0.2-0.2-0.3-0.3-0.2c-2.8,3-7.6,5.5-11.2,5.4c-0.2,0-0.4,0.4-0.2,0.5c1.1,0.6,1.1,1.4,0.6,4.1c-2.1,10.6-4.9,25.8-5.5,28.6
			c-0.8,4.2-2.2,5.3-3.3,6C-197.1,57.8-197,58-196.7,58"/>
		<path id="Fill-5_2_" class="st0" d="M-142.4,17c2.1-10.7-5.5-9.9-9.7-7.5c-3.7,2.2-5.6,5-6.6,6.7c0.6-3.2,1.1-5.8,1.4-7
			c0-0.2-0.2-0.3-0.3-0.2c-2.8,3-7.5,5.3-11,5.3c-0.2,0-0.4,0.4-0.2,0.5c1.1,0.6,1.1,1.3,0.6,4c-2.1,10.3-4.8,25.2-5.4,27.9
			c-0.8,4.1-2.2,5.2-3.2,5.9c-0.2,0.1,0,0.4,0.2,0.4l14-2.2c0.2,0,0.3-0.3,0.1-0.4c-1-0.3-2.3-1.8-1.7-5.1c0.3-1.8,2-10.6,3.7-19.1
			l0,0c0,0,0.1-0.3,0.3-1.2c0.7-3.3,2.1-5.8,3.1-7.2c4.1-6.1,5.8-5.2,6-3.2c0.1,0.7-0.1,2-0.3,3.4l-3.1,16c-0.2,0.8-1.2,6.4-1.4,7.1
			c-0.7,3.6-0.4,6.3,1,7.7c3.2,3.1,10.2,0.4,11.9-7.1c0-0.2-0.3-0.2-0.4,0c-1.2,2.1-3.5,2.9-3.4,0.2c0.1-1.9,0.9-6.1,1.1-7
			c0,0,0,0,0,0l3.2-16.4C-142.6,18-142.5,17.5-142.4,17"/>
		<path id="Fill-7_2_" class="st0" d="M-99-214.8c12.2-1.1,17.2,15.8,10.1,46.6c0,2.8-0.2,5.7-0.7,8.6c-0.6,3.5-1.6,6.9-2.9,10.2
			c-0.2,0.4-0.7,1.9-1.2,3c0.1-0.4,0.3-0.8,0.4-1.2c0.7-2.2,1.5-4.9,2-8.1c0.5-3.2,3.2-20.6-7.3-34.7c-2.8-3.7-8-9-16.4-12.8
			C-110-209.8-104.5-214.2-99-214.8 M-157.6-168.3c4.1-1.5,7.4-5.1,8.2-9.5c0.5-2.9-0.3-5.3-1.6-6.3c-0.3-0.2-0.6,0-0.6,0.3
			c-0.1,0.6-0.4,1.4-0.9,2.1c-1.5,1.8-4.6,3-7,0.9c-2.6-2.3-2.2-6.1,0.1-10.1c4.3-7.3,17.8-13.7,35.3-10.5
			c8.8,1.6,17.8,7.7,22.8,13.7c5.5,6.7,7.3,15,7.8,21.6c-0.6-1.1-1.2-2.1-1.8-2.9c-1.1-1.4-2.3-2.7-3.9-3.7
			c-2.6-1.7-5.5-2.2-8.7-1.7c-4.1,0.7-6.4,3.3-6.9,6.4c-0.3,1.4-0.2,3,0.7,4.4c1.4,2.5,4.1,4.4,7.4,3.6c2.8-0.7,3.8-3,3.7-4.7
			c0-0.2-0.3-0.4-0.5-0.2c-1.1,0.8-2.9,0.7-4-0.3c-1.3-1.1-1.4-3-0.2-4.2c0.2-0.2,0.5-0.4,0.8-0.6c0.6-0.4,1.3-0.7,2.1-0.8
			c1-0.2,3.6-0.5,6.2,1.9c1.7,1.5,3,3.6,4,6c0.2,0.6,0.5,1.3,0.6,2.1c0.5,3.3,0.3,6.2-0.2,8.9c-0.3,1.3-0.6,2.5-0.9,3.6
			c-0.4,1.2-0.8,2.4-1.2,3.3c0,0,0,0,0,0c-1.2,2.7-2.5,5.3-3.8,7.8h0c-3.5,6.6-7.5,12.2-11.7,16c-6.5-1.8-13.1-3-19.9-2.7
			c-0.6,0-1.3,0.1-1.9,0.1c-3.2-8-3-22,1.8-41.3c2.8-11.5,7.6-23.5,13.3-32.8c-3.7-1.2-7.7-1.8-11.8-1.9
			c-8.9,10.5-15.4,24.2-18.1,37.1c-3.9,18.8-2,32.6,4.2,40.9c-7.8,2.4-14.8,6.9-19.5,14.1c-4.9,7.5-7.2,17.3-1.6,24.3
			c3.4,4.3,9,6.7,14.7,6.3c2.8-0.2,5.5-1.1,8-2.6c1.1-0.7,2.5-1.7,3.2-2.9c0.2-0.4,0.2-0.7-0.2-0.7c-4.2,0.2-8.3-1.4-11-4.7
			c-5.1-6.3-0.8-16.9,4.5-22c2.5-2.4,5.4-4.4,8.6-5.9c0.3-0.1,2.2-1,3.5-1.4c0.2-0.1,0.4-0.1,0.6-0.2c0.1,0,0.2-0.1,0.3-0.1
			c0,0,0.1,0,0.1,0c0.1,0,0.3-0.1,0.4-0.1c0.6-0.2,1.2-0.3,1.7-0.4c1.5-0.3,3-0.5,4.4-0.5c4,0,7.3,0.2,10.3,0.6
			c-0.1,0.1-0.3,0.2-0.4,0.3c0,0,0,0-0.1,0c-0.2,0.1-0.5,0.2-0.7,0.4c0,0,0,0-0.1,0c-0.5,0.2-0.9,0.4-1.4,0.6c0,0-0.1,0-0.1,0
			c-0.2,0.1-0.5,0.2-0.7,0.2c0,0-0.1,0-0.1,0c-0.5,0.1-0.9,0.2-1.4,0.3c0,0-0.1,0-0.1,0c-0.2,0-0.5,0.1-0.7,0.1c0,0-0.1,0-0.1,0
			c-0.2,0-0.5,0-0.7,0.1c0,0,0,0-0.1,0c-0.2,0-0.3,0-0.5,0c-0.1,0-0.3,0-0.4,0c-0.1,0-0.1,0-0.2,0c-0.6,0-1.1-0.1-1.6-0.2
			c-0.8-0.2-1.5-0.4-2.3-0.8c-0.1,0-2.7,0.4-4.5,1.1c-1.8,0.6-3.1,1.2-3.1,1.2c3.7,1.6,8,2.3,12.8,2c0,0,0,0,0.1,0
			c0.4,0,0.7,0,1.1-0.1c0.4,0,0.8-0.1,1.2-0.1c0.1,0,0.2,0,0.3,0c0.3,0,0.6-0.1,0.9-0.1c0.1,0,0.3,0,0.4-0.1c0.3,0,0.6-0.1,0.8-0.2
			c0.1,0,0.3-0.1,0.4-0.1c0.3-0.1,0.6-0.1,0.9-0.2c0.1,0,0.2-0.1,0.3-0.1c0.4-0.1,0.7-0.2,1.1-0.3c0,0,0.1,0,0.1,0
			c0.4-0.1,0.8-0.2,1.2-0.4c0.1,0,0.2-0.1,0.2-0.1c0.3-0.1,0.6-0.2,0.9-0.3c0.1,0,0.2-0.1,0.4-0.1c0.3-0.1,0.5-0.2,0.8-0.3
			c0.1-0.1,0.3-0.1,0.4-0.2c0.3-0.1,0.5-0.2,0.8-0.3c0.1-0.1,0.2-0.1,0.4-0.2c0.3-0.1,0.6-0.3,0.9-0.4c0.1,0,0.2-0.1,0.3-0.1
			c0.4-0.2,0.8-0.4,1.1-0.6c0.1,0,0.1-0.1,0.2-0.1c0.3-0.2,0.6-0.3,1-0.5c0.1-0.1,0.2-0.1,0.3-0.2c0.3-0.1,0.5-0.3,0.8-0.4
			c0.1-0.1,0.3-0.2,0.4-0.2c0.2-0.1,0.5-0.3,0.7-0.4c0,0,0.1,0,0.1-0.1c0.1,0,0.1-0.1,0.1-0.1s0,0,0,0c0.1,0,0.1-0.1,0.2-0.1
			c0.3-0.2,0.5-0.3,0.8-0.5c0.1-0.1,0.2-0.1,0.3-0.2c0.7-0.5,1.4-1,2.1-1.5c0.1-0.1,0.2-0.2,0.3-0.2c0.2-0.2,0.5-0.4,0.7-0.6
			c0.1-0.1,0.2-0.2,0.4-0.3c0.2-0.2,0.4-0.4,0.7-0.5c0.1-0.1,0.2-0.2,0.4-0.3c0.2-0.2,0.5-0.4,0.7-0.6c0.1-0.1,0.2-0.2,0.3-0.3
			c0.3-0.2,0.5-0.5,0.8-0.7c0.1-0.1,0.1-0.1,0.2-0.1c0.3-0.3,0.7-0.6,1-0.9c0.1-0.1,0.2-0.2,0.3-0.3c0.2-0.2,0.5-0.5,0.7-0.7
			c0.1-0.1,0.2-0.2,0.3-0.3c0.2-0.2,0.4-0.4,0.6-0.6c0.1-0.1,0.2-0.2,0.4-0.4c0.2-0.2,0.4-0.4,0.6-0.7c0.1-0.1,0.2-0.2,0.3-0.4
			c0.2-0.2,0.4-0.5,0.7-0.8c0.1-0.1,0.2-0.2,0.2-0.3c0.3-0.3,0.6-0.7,0.9-1c0.1-0.1,0.1-0.1,0.2-0.2c0.2-0.3,0.5-0.6,0.7-0.9
			c0.1-0.1,0.2-0.3,0.3-0.4c0.2-0.2,0.4-0.5,0.6-0.7c0.1-0.1,0.2-0.3,0.3-0.4c0.2-0.2,0.4-0.5,0.5-0.7c0.1-0.1,0.2-0.3,0.3-0.4
			c0.2-0.3,0.4-0.5,0.6-0.8c0.1-0.1,0.2-0.3,0.3-0.4c0.3-0.4,0.5-0.8,0.8-1.1c0,0,0,0,0,0h0c6.2-9.1,10.7-19.9,13-30.6
			c7.2-34.5-5.5-52.4-27.6-49.8c-8.7,1-16.7,5.3-23.6,11.5c-10.8-2.4-34.3-1.4-45.4,13.5c-4.4,5.9-6.1,14.2-2.4,20.2
			C-169-167.6-163.1-166.3-157.6-168.3"/>
		<path id="Fill-9_2_" class="st0" d="M-70.7-136l18.8-3c0.2,0,0.4-0.4,0.2-0.5c-1.3-0.4-3.2-2.4-2.3-6.9c0.4-2.4,2.7-14.3,5-25.9
			l0,0c0,0,0.1-0.4,0.4-1.7c1-4.5,2.9-7.9,4.1-9.8c5.5-8.3,7.8-7,8.1-4.3c0.1,0.9-0.1,2.7-0.4,4.6l-4.2,21.7
			c-0.2,1.1-1.6,8.7-1.8,9.7c-0.9,4.9-0.5,8.5,1.4,10.4c4.2,4.2,13.7,0.6,16-9.6c0.1-0.2-0.4-0.3-0.6,0c-1.6,2.8-4.7,4-4.6,0.3
			c0.1-2.6,1.2-8.2,1.5-9.5c0,0,0,0,0,0l4.3-22.3c0.1-0.6,0.2-1.2,0.4-1.9c2.8-14.5-7.4-13.5-13-10.1c-5,3-7.6,6.8-8.9,9.1
			c0.8-4.3,1.5-7.8,1.8-9.5c0-0.3-0.3-0.4-0.4-0.2c-3.7,4-10.1,7.2-14.8,7.2c-0.3,0-0.6,0.5-0.3,0.7c1.5,0.8,1.5,1.8,0.8,5.4
			c-2.8,14-6.5,34.2-7.2,37.8c-1.1,5.5-2.9,7-4.4,8C-71.1-136.3-70.9-136-70.7-136"/>
		<path id="Fill-11_2_" class="st0" d="M-0.8-182.1c2.5-6,5.1-10.6,7.7-13.8c2.4-2.8,4-3.6,6-4.3c2.7-0.9,3.5,1.7,2.2,6.9
			c-1.6,6-4.3,11.4-8.2,16.4c-3.5,4.4-7.3,7-9.7,1.9C-2.1-178.4-1.2-181.1-0.8-182.1 M4.2-133.1c2.3-0.2,4.5-0.6,6.5-1.2
			c0,0-0.5-1.8-1.1-3.5c-0.7-2.1-0.8-3.5-0.8-3.5c-8.7-1.3-14.6-12-12.7-28.4c4.7,3.4,10.2,2.8,16.4-1.7c5-3.9,8.5-8.8,10.4-14.9
			c2.3-7.5,0.8-12.9-4.6-16.3c-2.8-1.8-6.3-1.8-10.6-0.2c-1.1,0.4-2.2,0.9-3.3,1.5c0,0,0,0,0,0c-3.2,1.7-6.3,4.2-9.3,7.5
			c-1.2,1.2-2.3,2.6-3.4,4.1c0,0,0,0,0,0c-0.5,0.7-1,1.4-1.4,2.1c-0.1,0.1-0.1,0.2-0.2,0.3c-0.4,0.7-0.9,1.3-1.2,2
			c0,0.1-0.1,0.1-0.1,0.2c0,0.1-0.1,0.1-0.1,0.2c-0.2,0.3-0.3,0.6-0.5,0.9c-0.1,0.2-0.2,0.3-0.3,0.5c-1.5,2.8-2.5,5.3-3.2,7.3
			c0,0,0,0.1,0,0.1c0,0.1,0,0.1-0.1,0.2c-0.1,0.2-0.1,0.3-0.1,0.4c-0.1,0.2-0.1,0.4-0.2,0.6c-0.7,2.3-1,3.8-1.1,4.3
			c-0.1,0.7-0.2,1.4-0.3,2c-0.4,2.2-0.7,4.4-0.8,6.2c0,0.5,0,1,0,1.4C-18.5-142.8-9.6-131.9,4.2-133.1"/>
		<path id="Fill-13_2_" class="st0" d="M25.8-163.4c1.4,1,1.3,3.7,0.5,6c-2.6,8.8-8.1,13.2-11.9,15c-0.6,0.3-1.3,0.5-2,0.6
			c-0.4-1.4-0.6-2.9-0.7-4.4c-0.1-2.8,0.5-5.8,1.8-8.6c0.6-1.4,1.4-2.7,2.3-4c0.9-1.2,2-2.5,3.1-3.3C21.2-164,24.5-164.5,25.8-163.4
			 M17.5-163.8c-2.6,2.4-4.7,5.1-6.2,8.2c-1.5,3.1-2.3,6.4-2.4,9.6c0,3.2,0.6,6.4,1.8,9.1c0.2,0.5,0.5,1,0.7,1.5l0,0c0,0,0,0,0,0
			c1.1,2.1,2.5,4,4.1,5.6c2,1.9,4.1,3.5,6.3,4.6c1.1,0.6,2.2,1,3.2,1.4c3.3,1.1,6.2,1.6,8.5,1.7c2.5,0.1,5.2,0,7.9-0.8
			c4.4-1.3,7.8-3.9,10.3-7.8c3.2-5.1,2.5-9.9-0.3-13.3c-1.3-1.6-3.1-2.9-5.5-3.4c-4.1-0.8-8.8,0.4-11.1,4.7
			c-1.9,3.6-0.4,6.9,1.6,8.3c0.3,0.2,0.7,0,0.7-0.3c0.2-2,2.1-3.7,4.2-4c2.5-0.4,4.7,1.3,4.9,3.7c0,0.5,0,0.9-0.1,1.4
			c-0.2,1-0.5,2-1.1,3c-0.7,1.2-3,4.3-8.1,4.9c-3.2,0.4-7-0.1-10.5-1.2c-0.9-0.4-1.9-0.8-2.8-1.3c-1.9-1-3.8-2.3-5.6-4
			c-1.3-1.3-2.5-2.8-3.5-4.5c4.4-2.2,8.1-5.6,10.8-9.9c0.5-0.8,1.1-1.7,1.6-2.6c1.2-2.2,2.4-4.7,3.1-7.6c0.3-1.5,0.6-3,0.4-4.7
			c-0.2-1.6-0.9-3.6-2.6-4.7c-1.7-1.1-3.9-1-5.7-0.4C20.4-166,18.9-165,17.5-163.8"/>
		<g id="Group-17_2_" transform="translate(0.000000, 286.000000)">
			<g id="Clip-16_2_">
			</g>
			<defs>
				<filter id="Adobe_OpacityMaskFilter" filterUnits="userSpaceOnUse" x="-223" y="-218" width="80" height="104.8">
					<feColorMatrix  type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
				</filter>
			</defs>
			<mask maskUnits="userSpaceOnUse" x="-223" y="-218" width="80" height="104.8" id="mask-2_2_">
				<g class="st1">
					<polygon id="path-1_2_" class="st2" points="-223,-113.2 -223,-218 -143,-218 -143,-113.2 					"/>
				</g>
			</mask>
			<path id="Fill-15_2_" class="st3" d="M-160.3-163.3c-0.1,1.7-0.4,3.2-0.7,4.4c-0.2,0.6-0.3,1.2-0.5,1.6c0,0.1-0.1,0.2-0.1,0.3
				c0.6-2.9,0.3-6.5-0.2-8.7c-1.7-7-7.7-11.1-14.7-12c-7.5-1.1-16.1,0.9-21.6,7.2c-4.8,5.5-7,14.3-3.3,20.2c3,4.8,8.9,6.2,14.5,4.2
				c4.2-1.5,7.7-5,8.3-9.5c0.4-3.2-0.8-5.5-2.2-6.3c-0.3-0.2-0.4-0.1-0.2,0.3c0.2,0.5,0,1.5-0.7,2.4c-0.9,1.1-2.4,1.9-3.8,2.1
				c-3.5,0.6-4.9-2.3-4.5-5.2c0.9-6.4,7.3-10.2,13.3-10.3c5.8-0.1,11.7,3.2,12.4,9.2c0.4,4.2-0.9,8.9-2.4,13
				c-7.2,18.3-18,33.3-28.5,33.7c-12.5,0.5-17.1-17-9.2-48.9c5.7-23.2,19.5-48.1,33.1-49.4c12.2-1.1,17.2,15.5,10.3,45.7
				C-160.4-167-160.2-165.1-160.3-163.3 M-172.8-217.8c-24,2.8-43,30.2-48.2,54.8c-7.1,33.9,4.9,51.5,27,49.6
				c23.7-2.1,43.3-28.6,48.8-54.9C-137.8-202.5-150.6-220.3-172.8-217.8"/>
		</g>
		<path id="Fill-18_2_" class="st0" d="M-53.8,101c2.5-6,5.1-10.6,7.7-13.8c2.4-2.8,4-3.6,6-4.3c2.7-0.9,3.5,1.7,2.2,7
			c-1.6,6-4.3,11.4-8.2,16.4c-3.6,4.5-7.5,7.2-9.9,1.6c0,0,0,0,0,0C-55.2,104.6-54.2,102-53.8,101 M-57,113.2
			c4.8,3.5,10.3,2.9,16.6-1.6c5-3.9,8.5-8.9,10.4-14.9c2.3-7.5,0.8-12.9-4.6-16.3c-2.8-1.8-6.3-1.8-10.6-0.2
			c-1.1,0.4-2.2,0.9-3.3,1.5c0,0,0,0,0,0c-3.2,1.7-6.3,4.2-9.3,7.5c-2.3,2.4-4.4,5.3-6.4,8.7c-1,1.6-2.4,4.6-4.2,9
			c-0.9,2.5-2.4,9.6-2.5,13.7c-0.2,4.1,0.4,7.6,1.7,10.3c2.2,4.6,6.2,7,11.8,7c5.7,0.1,10.4-1.7,14.2-5.4c5.5-4.8,8-11,7.4-18.6
			c0-0.2-0.2-0.3-0.4-0.2c-0.3,0-0.5,0.2-0.5,0.4c-0.3,2.4-1.5,5.2-3.6,8.3c-2.1,3.1-4.5,5.2-7.1,6.1c-4.5,1.7-7.4,0.7-8.9-2.8
			c-1.6-3.7-1.5-8.4-0.8-12.8C-57.1,113.1-57,113.2-57,113.2"/>
		<path id="Fill-20_2_" class="st0" d="M-6,118.3c-1.7,1.8-3.9,3.3-6.9,3.8c-1.9,0.3-3.2-0.1-3.9-1.3c-0.6-1.2-0.8-2.8-0.1-4.7
			c1.6-4.4,4.3-7.5,7.1-10.1c0.6-0.5,1.2-1.1,1.8-1.6c1.8-1.5,3.6-3,5.4-4.2c0.1-0.1,0.2-0.1,0.3-0.2C-2.5,100-5.9,117.8-6,118.3
			 M13,81.2c-0.6-4.4-3.1-7.2-7.5-8c-5-0.7-9.9,0.1-14.8,2.6c-4.9,2.5-8.5,6.4-10.8,11.8c-1.7,3.9-1.5,6.9,0.7,9
			c2.2,2,5.2,2.1,9.2,0.1c2.4-1.1,4.2-2.4,5.6-4c0.2-0.2,0.2-0.4,0.1-0.5c-0.1-0.1-0.2-0.1-0.4,0c-1.8,0.6-3.2,0.4-4.1-0.6
			c-0.9-1-1.4-2.7-1.1-4.7c0.7-4.5,2.5-7.9,6-9.5c2.6-1.2,4.4-0.8,5.1,1.3c0.3,1.1,0.1,3.6-0.5,6.9l-2.1,10.5
			c-0.3,0.2-0.6,0.5-1,0.7c-0.5,0.3-1,0.6-1.5,0.9c-1.1,0.6-2.2,1.3-3.3,2c-4.3,2.4-15.2,9.1-18.9,15.3c-5.1,8.6-2.5,15.4,5.2,15.9
			c4.5,0.3,10.2-3.1,15-8.5c0.2,1.9,0.8,3.4,1.8,4.4c4.3,4.2,14,0.6,16.3-9.5c0.1-0.2-0.4-0.3-0.6,0c-1.6,2.8-4.8,3.9-4.7,0.3
			c0.1-2.6,1.2-8.2,1.5-9.4c0,0,4.4-22.3,4.4-22.3l0,0C12.9,83.9,13,82.5,13,81.2"/>
		<path id="Fill-22_2_" class="st0" d="M-82.8,127.7L-82.8,127.7c3-15.8,11.6-60.4,12.8-66.4c0-0.3-0.2-0.4-0.4-0.2
			c-3.7,4-10,7.2-14.6,7.1c-0.3,0-0.6,0.5-0.3,0.7c1.4,0.8,1.5,1.8,0.8,5.3c-1.9,9.4-6.2,32.1-9.1,47c-0.3,1.6-0.9,4.5-1.9,9.7
			c-0.9,4.8-0.4,8.5,1.5,10.4c4.2,4.2,13.5,0.6,15.8-9.5c0.1-0.2-0.4-0.3-0.6,0c-1.6,2.8-4.6,3.9-4.5,0.3
			C-83.3,130.9-83.1,129.3-82.8,127.7"/>
		<path id="Fill-24_2_" class="st0" d="M55.2,104c0.3-1.6,0.6-3,0.7-3.6c0,0,0,0,0,0l4.3-22.3c0.1-0.6,0.2-1.2,0.4-1.9
			c2.8-14.5-7.4-13.5-13-10.1c-5,3-7.6,6.8-8.9,9.1c0.8-4.3,1.5-7.8,1.8-9.5c0-0.3-0.3-0.4-0.4-0.2c-3.7,4-10.1,7.2-14.8,7.2
			c-0.3,0-0.6,0.5-0.3,0.7c1.5,0.8,1.5,1.8,0.8,5.4c-2.8,14-6.5,34.2-7.2,37.8c-1.1,5.5-2.9,7-4.4,8c-0.2,0.2-0.1,0.5,0.2,0.5
			l18.8-3c0.2,0,0.4-0.4,0.2-0.5c-1.3-0.4-3.2-2.4-2.3-6.9c0.4-2.4,2.7-14.3,5-25.9l0,0c0,0,0.1-0.4,0.4-1.7c1-4.5,2.9-7.9,4.1-9.8
			c5.5-8.3,7.8-7,8.1-4.3c0.1,0.9-0.1,2.7-0.4,4.6L44,99.3c-0.2,1.1-1.6,8.7-1.8,9.7c-0.9,4.9-0.5,8.5,1.4,10.4
			c0.6,0.6,1.4,1.1,2.2,1.3C46.6,114.3,50.1,108,55.2,104"/>
		<path id="Fill-26_2_" class="st0" d="M-124.4,146.5c-1.3-0.4-3.2-2.4-2.3-6.9c0.5-2.8,3.6-18.5,6.2-31.5c0.3-1.3,0.5-2.7,1-3.7
			c0.8-1.8,1.8-3.5,3.2-4.8c3.5-3.3,9.2-5,13-2.3c3.1,2.1,4.1,7,0.7,9.9c-2.3,1.9-5.5,1.5-6.6-1.1c-0.4-0.9-0.4-2.4,0.3-3.5
			c0.3-0.5,0.1-0.7-1.1-0.3c-2.2,0.8-4.1,2.1-5.3,4c-2.5,3.8-2,9.5,1.8,11.8c3.9,2.3,9.6,0.3,13.1-2.6c4.3-3.7,6.3-9.7,5.1-14.9
			c0.9,3.7-0.9-3.7,0,0c-2.4-10-14.8-9.9-22.3-3.7c-0.3,0.2-0.6,0.5-0.8,0.7c0.6-2.8,1-5.1,1.2-6.3c0-0.3-0.3-0.4-0.4-0.2
			c-3.8,4-10.2,7.2-15,7.1c-0.3,0-0.6,0.5-0.3,0.7c1.5,0.8,1.5,1.8,0.8,5.3c-2.8,13.9-6.6,33.9-7.3,37.4c-1.1,5.5-2.9,7-4.4,7.9
			c-0.2,0.2-0.1,0.5,0.2,0.5l19.1-3C-124.3,147-124.1,146.6-124.4,146.5"/>
		<path id="Fill-28_2_" class="st0" d="M91,83.8c-4.4-4.3-17.1-10.9-10-19c2.5-2.8,7.5-3.6,9.6-0.4c1.1,1.6,1.6,4.1,0.4,6.1
			c-1.5,2.5-3.9,2.8-5,2.4c-0.3-0.1-0.4,0.1-0.4,0.3c-0.4,1.6,0.7,3.6,3.3,4c2.2,0.3,5.7-0.5,7.7-2.9c5.2-6.3,1.2-14.2-5.8-15.1
			c-13.6-1.7-28.4,13.5-19.3,25.6c4.2,5.6,10.6,9.1,13.9,15.6c3.5,6.9,4.7,14.7,0.9,22.3c-2.8,5.7-7.3,10.1-13.5,11.9
			c-6.1,1.7-13,0.6-15.8-5.2c-2.7-5.5-1.4-13.5,5.2-16.3c3-1.3,6.4-0.5,7.1,2.9c0.3,1.7-0.2,3.3-1.5,4.6c-0.6,0.5-1.2,1-2,1.3
			c-1.1,0.5-1.8,0.4-2.3,0.3c-0.2,0-0.4,0.2-0.3,0.3c0.6,1,2.1,1.7,3,1.9c2.1,0.5,4,0.3,5.9-0.3c4.3-1.3,7.9-4.8,9.2-9.1
			c2.9-9.3-5.5-16.1-14.2-14.9c-14.2,1.9-23.6,20.7-16.9,32.3c4.4,7.6,13.6,8.9,22.2,7.3c9.7-1.8,19-7.6,24.2-16.4
			C104.7,109.2,101,93.5,91,83.8"/>
		<path id="Fill-30_2_" class="st0" d="M-74.5-50.4c-1.1,5.5-2.9,7-4.4,7.9c-0.2,0.2-0.1,0.5,0.2,0.5l18.9-3c0.2,0,0.4-0.4,0.2-0.5
			c-1.3-0.4-3.2-2.4-2.3-6.9c0.5-2.4,2.7-14.2,5-25.7l0,0c0,0,0.1-0.4,0.4-1.7c1-4.4,2.9-7.8,4.1-9.7c5.5-8.2,7.9-6.9,8.1-4.3
			c0.1,0.7,0,1.8-0.2,3.1c-2.8,13.8-6.4,33.1-7.1,36.6c-1.1,5.5-2.9,7-4.4,7.9c-0.2,0.2-0.1,0.5,0.2,0.5l18.9-3
			c0.2,0,0.4-0.4,0.2-0.5c-1.3-0.4-3.2-2.4-2.3-6.9c0.5-2.5,3-15.6,5.4-27.7c1-4.2,2.8-7.5,4-9.3c5.5-8.2,7.9-6.9,8.1-4.3
			c0.1,0.9-0.1,2.7-0.4,4.6L-26.1-71c-0.2,1-1.6,8.5-1.8,9.5c-0.9,4.8-0.5,8.4,1.4,10.3c4.3,4.2,13.8,0.6,16.1-9.5
			c0.1-0.2-0.4-0.3-0.6,0c-1.6,2.8-4.7,3.9-4.6,0.3c0.1-2.6,1.2-8.2,1.5-9.4c0,0,0,0,0,0l4.3-22c0.1-0.6,0.3-1.3,0.4-2
			c2.9-14.4-7.4-13.3-13-10c-5.5,3.3-8.1,7.6-9.4,9.7c0,0,0,0,0,0c0.3-10.2-8.4-9.2-13.5-6.2c-5,3-7.6,6.7-9,9
			c0.8-4.3,1.5-7.7,1.8-9.4c0-0.3-0.3-0.4-0.4-0.2c-3.7,4-10.1,7.2-14.8,7.1c-0.3,0-0.6,0.5-0.3,0.7c1.5,0.8,1.5,1.8,0.8,5.3
			C-70.1-73.9-73.8-53.9-74.5-50.4"/>
		<path id="Fill-32_2_" class="st0" d="M-101.4-46.4c-1.1,5.5-3,7-4.5,7.9c-0.2,0.2-0.1,0.5,0.2,0.5l19.2-3c0.3,0,0.4-0.4,0.2-0.5
			c-1.3-0.4-3.2-2.4-2.3-6.9c0.9-4.4,8.2-41.3,9.6-48.4c0-0.3-0.3-0.4-0.4-0.2c-3.8,4-10.3,7.2-15.1,7.1c-0.3,0-0.6,0.5-0.3,0.7
			c1.5,0.8,1.5,1.8,0.8,5.3C-96.9-69.9-100.7-49.9-101.4-46.4"/>
		<path id="Fill-34_2_" class="st0" d="M14.2-92c2.5-6,5.1-10.6,7.7-13.8c2.4-2.8,4-3.6,6-4.3c2.7-0.9,3.5,1.7,2.2,7
			c-1.6,6-4.3,11.4-8.2,16.4c-3.6,4.5-7.5,7.2-9.9,1.6c0,0,0,0,0,0C12.8-88.4,13.8-91,14.2-92 M32.2-79c0-0.2-0.2-0.3-0.4-0.2
			c-0.3,0-0.5,0.2-0.5,0.4c-0.3,2.4-1.5,5.2-3.6,8.3c-2.1,3.1-4.5,5.2-7.1,6.1c-4.5,1.7-7.4,0.7-8.9-2.8c-1.6-3.7-1.5-8.4-0.8-12.8
			c0.1,0.1,0.2,0.1,0.3,0.2c4.8,3.5,10.3,2.9,16.6-1.6c5-3.9,8.5-8.9,10.4-14.9c2.3-7.5,0.8-12.9-4.6-16.3
			c-2.8-1.8-6.3-1.8-10.6-0.2c-1.1,0.4-2.2,0.9-3.3,1.5c0,0,0,0,0,0c-3.2,1.7-6.3,4.2-9.3,7.5c-2.3,2.4-4.4,5.3-6.4,8.7
			c-1,1.6-2.4,4.6-4.2,9c-0.9,2.5-2.4,9.6-2.5,13.7c-0.2,4.1,0.4,7.6,1.7,10.3c2.2,4.6,6.2,7,11.8,7c5.7,0.1,10.4-1.7,14.2-5.4
			C30.2-65.2,32.7-71.4,32.2-79"/>
		<path id="Fill-36_2_" class="st0" d="M-187.2-17.4c0.1,0.1,0.2,0.3,0.3,0.4c2.4,2.9,5.4,4.8,8.6,6.2c3.2,1.4,6.6,2.2,10.1,2.6
			c3.6,0.5,7.2-0.1,10.8-0.6c3.6-0.7,7.2-1.7,10.7-3.2c3.5-1.5,6.9-3.6,10-6c6.3-4.9,11.3-11.6,14.7-18.6c1.8-3.5,3.2-7.1,4.3-10.9
			c1-3.6,2-6.8,2.9-10.3c0.9-3.4,1.6-6.9,2.1-10.4c0.6-3.5,0.8-7,1.2-10.4c0.7-6.5,2-13,3.6-19.5c0.9-3.2,1.8-6.4,3-9.5
			c0.6-1.6,1.3-3,2-4.4c0.6-1.1,1.2-2.1,1.9-2.8c3.5,1.2,7.5,2.7,13.1,4.5c0,0,0,0,0,0c0.1,0,0.1,0,0.2,0.1c0.2,0.1,0.3,0.1,0.5,0.2
			c0.3,0.1,0.6,0.2,0.9,0.3c-2.4,1.6-4.3,4-5.4,6.3c-2.6,5.4-1.1,8.4,3.1,8.3c4.4-0.1,9-4.1,11-8.3c0.6-1.2,1-2.3,1.1-3.3
			c5.5,1.5,11.3,2.6,17,2.7c17.4,1,27.4-5,31.7-12.4c3.8-6.5,1.3-15.5-3.6-18.8c-3.1-2.1-11-5.2-21.5,0.9c-3.8,2.2-5.9,5.8-6.6,10.3
			c-0.1,0.6,0.2,1.7,1,0.7c1-1.3,3.3-2.5,6-2.5c3.9-0.1,6,2.4,6.3,5c0.2,2.6-1.5,6.6-5.4,8.5c-3.9,1.8-13.1,4.3-26.8,0.6
			c-4.3-1.2-9.2-2.8-15.2-4.6c-0.7-0.2-1.4-0.4-2.1-0.7c-0.4-0.2-0.9-0.3-1.4-0.5c-1-0.4-2-0.7-3.1-1h0l-0.2-0.1l0,0
			c-0.2-0.1-0.4-0.1-0.7-0.2c0,0-1,0.6-1.9,1.1c-1.4,0.7-2.6,1.7-3.7,2.6c-1.5,1.4-2.8,2.9-4,4.4c-2.4,3.1-4.4,6.4-6.1,9.7
			c-3.5,6.7-6.1,13.8-8,21c-0.9,3.4-2,6.7-2.8,10.1c-0.8,3.4-1.6,6.7-2.2,10.1c-0.6,3.4-1,7-1.6,10.2c-0.6,3-1.2,6.2-2.1,9.2
			c-1.8,6.1-4.1,12.1-8.2,17.2c-2,2.6-4.5,4.7-7.1,6.8c-3.8,2.9-14.6,7.5-21.1,4.4c-6.6-3.1-10.3-12.9-6-20.6c2-3.5,6.2-5.2,9.4-2.6
			c1.4,1.2,2.4,3.3,2.1,5.3c-0.1,1-1.3,2.1-0.1,2.2c1.2,0.1,4-2.8,4.7-3.6c1.5-1.6,2.5-3.6,3-5.7c1.1-4.6-1.1-9-4.4-11.7
			c-5.7-4.7-14.1-4.9-20.8-0.4c-7.5,5.1-11.2,15.2-9.2,23.4C-190.7-22.5-189.2-19.8-187.2-17.4"/>
		<path id="Fill-38_2_" class="st0" d="M39.6-55.5c-0.7,0.6-1.3,1.1-1.7,1.4c-0.4,0.3-0.6,0.4-0.7,0.5c-0.1,0.1-0.2,0.2-0.2,0.4
			c0,0.2,0.2,0.3,0.4,0.3c0.2,0,0.3,0,0.9-0.2c0.5-0.2,1.3-0.5,2.2-0.9c0.9-0.4,1.9-1,3-1.7c1.1-0.7,2.1-1.6,3.1-2.7
			c4.5-4.9,5.3-9.8,3.7-12.8c-1-1.9-2.7-2.8-5.1-2.7c-4.1,0.2-6.9,3.7-7.3,6.9c-0.7,4.4,1.6,7.3,5.3,6.4c0.2-0.1,0.4-0.1,0.6-0.2
			c-0.1,0.1-0.1,0.3-0.2,0.4C42.6-58.6,41-56.7,39.6-55.5"/>
		<path id="Fill-40_2_" class="st0" d="M-41.5-14.2c0,0.3,0.1,0.3,0.2,0c1.3-3.6,2.8-7.1,3.9-10.7c1.3-4.3,2.7-9.7-1.5-12.8
			c-2.4-1.8-5.7-1.6-8,0.2c-1.2,1-2.2,2.4-2.2,4.1c0,1,0.2,2,0.9,2.8c0.3,0.3,0.7,0.8,1.5,1.1c0.2,0.1,0.2-0.1,0.2-0.2
			c-1-2.7,2-5.3,4.3-3.3c2.3,2,2.2,6.2,1.9,9.6C-40.6-20.4-41.1-17.3-41.5-14.2"/>
		<path id="Fill-42_2_" class="st0" d="M-167.8-111.2c2.6-0.7,4.2-2.3,5.1-3c0.8-0.7,1.6-1.4,2.4-2c3.2-2.7,6.3-4.4,7.8-5.2
			c0.6-0.3,0.6-0.5-0.2-0.4c-1,0.1-2.4,0.4-4,1.1c-1.6,0.6-3.3,1.4-5.2,2.3c-0.9,0.4-1.9,0.9-2.8,1.3c-1,0.4-2,0.7-2.8,0.7
			c-1.2,0.1-2.9-0.5-3.4-1.7c-0.2-0.5-0.5-1.5,0.5-2.4c0.4-0.4,0.8-0.5,1.2-0.6c0.4-0.1,0.8-0.1,1.1-0.1c0.3,0,0.4-0.1,0.2-0.3
			c-0.2-0.2-0.5-0.5-1-0.8c-0.5-0.3-1.3-0.5-2.2-0.4c-0.5,0-2,0.3-3.2,1.5c-1.5,1.5-2.4,5-0.7,7.6
			C-173.6-111.6-170.4-110.5-167.8-111.2"/>
		<path id="Fill-44_2_" class="st0" d="M-172.9,104c-3-1.5-7.3-3.1-7.6-6.3c-0.3-3,3.8-3.7,4.8-1.5c0.1,0.1,0.3,0.2,0.3,0
			c0.6-1.8-0.5-3.7-2.1-4.6c-2-1.1-4.6-0.5-6.3,0.9c-2,1.8-2.7,4.6-2,7.2c1.3,4.9,6.7,5.6,10.8,6.6c3.9,1,7.6,2.1,10.8,4.7
			c0.1,0.1,0.2,0,0.1-0.1C-166.4,107.8-169.5,105.7-172.9,104"/>
		<g id="Group-48_2_" transform="translate(95.000000, 353.000000)">
			<path id="Fill-46_2_" class="st0" d="M-64.3-215c-3.8-3.2-10.8-4.2-15.8-1.3c-4.9,2.8-8.2,10.6-3.5,15.3c1.1,1.1,2.6,1.8,4.1,2.1
				c0.7,0.2,2.4,0.4,3.1,0.1c0.7-0.3,0.1-0.5-0.3-1c-2.3-2.8,0.7-6.9,3.8-7c5-0.2,4.9,5.7,3.2,8.9c-1.9,3.4-5.2,6.4-8.8,7.9
				c-8.6,3.6-18.4,3.5-27.4,2.5c-9.9-1.1-17.8-2.6-29.3-5c-9.8-2.1-19.5-4.6-29.2-7c-9.3-2.2-19-4.5-28.6-4
				c-7.3,0.4-15,2.6-20.8,7.3c-5.7,4.6-9.1,12.3-9,19.6c0.1,8,4.7,15.7,12,19c5.6,2.5,13,2.2,18-1.7c3.1-2.4,4.8-6.1,4.9-10
				c0-1.7-0.2-3.5-0.7-5.1c-0.2-0.6-0.8-3.2-1.7-3c-0.4,0.1-0.6,1.7-0.9,2.3c-0.7,1.3-1.9,2.2-3.3,2.8c-3.7,1.6-7.7,0-9.3-3.7
				c-2.9-6.7,1.3-13.4,7-16.9c4.1-2.5,9.2-3.6,13.9-4c12.3-1.1,30.5,4.1,40.7,6.2c9.7,1.9,20.1,4.1,29.8,5.6
				c9.6,1.4,19.2,2.7,28.9,1.2c8.4-1.4,16-5.2,21.1-12.4C-58.7-201.9-59.5-211-64.3-215"/>
		</g>
		<path id="Fill-49_2_" class="st0" d="M-13.1,4.7c2.4-5.9,5-10.5,7.5-13.6c2.4-2.7,3.9-3.5,5.9-4.2c2.7-0.9,3.4,1.7,2.1,6.8
			C0.7-0.3-1.9,5-5.7,9.9c-3.5,4.5-7.3,7-9.6,1.6C-14.4,8.2-13.5,5.7-13.1,4.7 M-12,50.2C2.3,48.5,5.5,37.6,5.8,34
			c0.4-5.3-2.3-9.9-7.1-10.8c-3.3-0.6-6.7,1.1-8.5,3.5c-1.3,1.7-1.8,3.6-1.5,5.8c0.2,2.2,1.4,3.9,3.4,5.2c0.2,0.2,0.4,0.2,0.6,0
			c0.1-0.1,0.2-0.3,0.1-0.4c-0.9-2.6,0.8-4.5,2.1-5.3c4.4-2.6,7.7,0.7,7.6,3.6C2.3,40-1.6,45.3-6.8,45.7c-5.4,0.4-7.7-3.9-8.5-5.5
			c-3.1-5.9-2.4-15.1-1.2-23.7c0.1,0.1,0.2,0.1,0.3,0.2c4.6,3.4,10,2.9,16.1-1.6C4.8,11.3,8.1,6.5,10,0.5c2.2-7.4,0.7-12.7-4.4-16.1
			c-1.3-0.8-2.8-1.3-4.5-1.3c1-1.2,2-2.5,2.8-3.9c3.3-6.1,3.3-11.3,0.2-15.7c-3.2-4.3-8.3-6-13.8-5.3c-5.4,0.6-12.6,3-18.6,9.2
			c-1.5,1.6-8.7,7.1-13.3,26.7c-0.3,0.9-0.5,1.9-0.7,2.8l-6.1,31.4l-13.7-55c-0.5-2.5,0.2-4.8,1.8-6.9c0.4-0.7,0.2-1-0.5-0.9
			c-1.3,0.3-33.4,5.3-33.4,5.3c-11.1,1.7-25.5,3.9-32.3,16.3c-5.4,9.9-0.2,22.6,10.3,23.4c3.8,0.3,9.6-1.1,12.4-3.8
			c2.8-2.7,4.4-5,4.8-8.7c0.3-3-0.5-5.4-2.5-7.4c-2-2-4.8-2.7-8.6-2.1c-1.1,0.2-1.3,0.7-0.6,0.9c1.2,0.3,2.2,1.3,2.1,3.2
			c-0.1,2.3-1.3,4.1-3.1,5.1c-1.8,1-5.1,1.4-7-0.8c-1.9-2-2.3-5.2-1.1-8.6c3.1-8.8,12.1-11.6,23.7-13.4l16.9-2.6l2.4,8.2l-2.5,12.4
			L-89,44l-0.7,3.4l-0.9,3.3c-0.6,2-1.3,4.2-2.3,6.4c-1.8,4.4-8.8,16.6-19.3,18.2c-6.1,0.9-11.2-0.5-14.2-4.1
			c-0.1-0.1-0.1-0.2-0.2-0.2c-0.2-0.3-0.4-0.5-0.6-0.8c-0.1-0.1-0.1-0.2-0.1-0.2c-0.8-1.2-1.3-2.7-1.6-4.3c0-0.3-0.1-0.6-0.1-0.9
			c-0.7-9.8,6.1-14.9,11.4-15.8c2.6-0.4,5.9,1.2,4.9,5.1c-0.6,2.3-2.3,3.9-4.3,4.6c-1.4,0.5-2.1,0.3-2.8,0.1c-0.5-0.2-1,0.4-0.6,0.7
			c0.6,0.6,1.2,1.2,3,1.9c1.7,0.6,4.3,0.9,7.2,0.2c3-0.7,6.5-2.3,9.4-5.9c1.4-1.8,2.7-4,3.4-6.9c0.6-2.8,0.5-6.4-1.1-9.2
			c-0.4-0.7-0.7-1.3-1.4-2.1c-0.3-0.4-0.6-0.7-1-1.1l-0.4-0.4c-1.1-1-2.5-1.9-3.9-2.6c-2.9-1.4-6.3-1.9-9.4-1.5
			c-6.2,0.7-11.2,3.9-14.9,7.5c-3.7,3.5-6.1,7.9-7.9,12.4c-1.1,2.8-1.5,5.8-1.6,8.8c0,0,0,0,0,0c0,0.5,0,0.9,0,1.4
			c0,0.2,0,0.4,0,0.7c0,0.5,0.1,0.9,0.1,1.4c0,0.2,0.1,0.4,0.1,0.7c0.1,0.3,0.1,0.7,0.1,1c0.1,0.3,0.2,0.6,0.3,0.9
			c0.1,0.4,0.2,0.9,0.4,1.3c0.1,0.4,0.3,0.9,0.4,1.3c4.5,12.4,16.9,12.6,22.3,11.8c16.5-2.6,22.6-14.5,26-21.8
			c1.1-2.4,1.9-4.8,2.6-7.1l1-3.6l0.8-3.5l10.6-55.6l19.4,66c0.9,1.3,2,1.8,3.1,1.5c1.2-0.3,2-1.1,2.4-2.3l3.2-16.2l0-0.1L-39,2.9
			l0.7-3.2c2-8.5,3.8-12.4,8.3-18.5c4.5-6,11.2-8.9,16.5-8.9c5.6,0,8.1,4.5,7.4,7.8c-0.6,2.8-2.2,5.8-4.4,7.2c0,0,0,0,0,0.1
			c-2.2,1.5-4.3,3.4-6.5,5.7c-2.2,2.3-4.3,5.2-6.3,8.5c-0.4,0.6-0.8,1.4-1.3,2.4c-1.6,2.9-3.1,6.2-4,10c-4.2,17.9-0.4,28.3,3.8,32.4
			C-21.3,49.9-16.5,50.8-12,50.2"/>
		<path id="Fill-51_2_" class="st0" d="M55.7-47.4c-4.8,7-2.8,16.8,6.1,16.8c0.3,0,0.4-0.3,0.3-0.5c-1.2-1.9-0.5-5.1,1.2-6.8
			c2.7-2.8,6-3.1,8.5-1.9c1.2,0.6,4.3,2.4,4.2,8.4C75.8-26.6,73.2-19.8,65.5-5c0,0.1-0.1,0.1-0.1,0.2c-2.7,5.1-5.3,10.1-8.5,16.4
			c-0.7-9.5-1.8-24-1.8-24.1c0.1-4.2,0.8-7.2,2.3-8.9c0.3-0.4,0.2-0.6,0-0.7l-18,2.8c-0.3,0.1-0.4,0.3-0.5,0.6
			c-0.1,0.2,0,0.4,0.3,0.6c1.8,1,2.9,3.5,3.3,7.6c0,0.1,0.3,2.6,0.7,6.2L33,15.1l-1.7-24c0.1-4.2,0.9-7.2,2.4-8.9
			c0.2-0.2,0.2-0.4,0.2-0.5c-0.1-0.1-0.2-0.2-0.4-0.1l-17.9,2.8c-0.4,0.1-0.6,0.3-0.7,0.6c-0.1,0.2,0,0.4,0.3,0.6
			c1.7,0.9,2.9,3.4,3.3,7.6c0.2,1.4,5,45,5,45c0.1,0.5,0.5,0.7,1.1,0.7c0.6-0.1,1-0.4,1.3-1l6.6-13.1L44,2.9
			c1.1,9.4,2.4,21.4,3.1,27.5l-2.5,4.9c-4.3,8.4-5.1,15.2-2.2,20.3c3.2,5.7,10.1,7.4,13.3,7.4c1.3,0,2.5-0.1,3.7-0.2
			c7.1-1.1,14.4-6.1,17.5-13c2.5-5.5,1.8-10.8-0.3-13.8c-1.1-1.6-3.7-3.3-6.3-3.7c-2.9-0.4-6.8,0.4-9.9,3.5
			c-2.8,2.8-3.4,6.4-2.8,8.8c0.9,3.5,4,3.8,5.1,3.7c0.3,0,0.2-0.2,0.1-0.4c-0.4-0.6-0.5-1.9,0.3-3.2c1.3-2.1,4.6-3.1,6.3-2.4
			c2.1,0.9,3.3,3.5,2.3,6.6c-1.4,4.5-5.6,9.4-14.8,9.7c-3.5,0.1-8.4-1-10.9-5.4c-2.2-3.8-1.4-9.3,2.2-16.3l9-17.3
			C61,12.6,63.9,7,66.6,1.9c3-5.5,6.2-11.4,6.2-11.5c5.9-11.2,9.1-19.3,10-23.9c0.9-4,1.3-7,1.2-9c-0.4-5.3-2.5-8.9-6.4-10.9
			c-3.9-1.9-8-2.2-12.3-0.9C60.9-52.9,57.9-50.6,55.7-47.4"/>
	</g>
</g>
<g id="Layer_2" class="st4">
	<path id="divider" class="st5" d="M152.3,219.5c0,0,0,0.1,0,0.1c0,0.1,0,0.2,0,0.4c0,0.2,0,0.3,0,0.5c0.1,0.1,0.1,0.2,0.1,0.4
		c0,0,0,0,0,0.1c0,0.2,0.1,0.4,0.1,0.6c0,0,0,0.1,0,0.1c0.1,0.1,0.1,0.2,0.1,0.3c0,0,0,0.1,0.1,0.1c0,0,0.1,0.1,0.1,0.1
		c0,0.2,0.1,0.4,0.2,0.6c0.1,0.1,0.1,0.2,0.2,0.3c0.1,0.1,0.1,0.2,0.2,0.3c0.1,0.1,0.2,0.2,0.2,0.3c0.1,0.1,0.1,0.2,0.2,0.4
		c0,0.1-0.1,0.2-0.1,0.3c0,0-0.1,0.1-0.1,0.1c-0.1,0.1-0.1,0.3-0.2,0.4c0,0.1-0.1,0.2-0.1,0.3c-0.1,0.3-0.2,0.5-0.4,0.8
		c0,0.1-0.1,0.1-0.1,0.2c-0.2,0.3-0.3,0.6-0.4,0.9c0,0.1-0.1,0.2-0.2,0.3c0,0-0.1,0.1-0.1,0.1c-0.1,0.3-0.2,0.5-0.3,0.8
		c0,0,0,0.1-0.1,0.1c-0.1,0.1-0.1,0.2-0.1,0.3c0,0.1,0,0.1-0.1,0.1c-0.1,0-0.1,0-0.2,0c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1
		c-0.2-0.3-0.4-0.7-0.6-1.1c-0.1-0.2-0.2-0.3-0.3-0.5c-0.1-0.2-0.2-0.4-0.3-0.6c-0.1-0.2-0.2-0.4-0.3-0.6c-0.2-0.3-0.3-0.7-0.5-1
		c-0.1-0.1-0.2-0.3-0.2-0.5c0-0.1,0-0.1,0-0.2c0.1-0.1,0.2-0.2,0.3-0.3c0,0,0.1-0.1,0.1-0.1c0,0,0.1-0.1,0.1-0.1
		c0.1-0.2,0.2-0.4,0.4-0.7c0.1-0.2,0.2-0.3,0.2-0.5c0.1-0.2,0.1-0.4,0.2-0.5c0.1-0.2,0.1-0.3,0.2-0.5c0-0.1,0.1-0.2,0.1-0.3
		c0,0,0-0.1,0-0.1c0.1-0.3,0.1-0.6,0.2-0.8c0-0.1,0-0.2,0.1-0.2c0-0.1,0-0.1-0.1-0.1c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0
		c0,0,0,0,0,0.1c0,0.2-0.1,0.4-0.1,0.7c-0.1,0.2-0.1,0.5-0.2,0.7c0,0.1,0,0.1-0.1,0.2c-0.1,0.1-0.1,0.3-0.1,0.4c0,0.1,0,0.2-0.1,0.3
		c-0.1,0.2-0.2,0.4-0.3,0.6c-0.1,0.2-0.3,0.4-0.4,0.6c-0.2,0.2-0.3,0.4-0.6,0.6c-0.2,0.1-0.4,0.3-0.6,0.4c-0.2,0.1-0.3,0.1-0.5,0.2
		c-0.1,0-0.2,0-0.2,0c-0.2,0.1-0.5,0.1-0.7,0.1c-0.2,0-0.3-0.1-0.5-0.1c-0.1,0-0.1,0-0.2-0.1c0,0-0.1,0-0.1,0
		c-0.2-0.1-0.3-0.2-0.5-0.3c-0.1-0.1-0.1-0.1-0.2-0.2c-0.2-0.3-0.2-0.5-0.2-0.8c0-0.1,0-0.3,0-0.4c0-0.2,0-0.4,0.1-0.6
		c0-0.2,0.1-0.3,0.2-0.5c0.1-0.3,0.3-0.5,0.5-0.7c0.1-0.1,0.2-0.1,0.3-0.2c0,0,0.1,0,0.1,0c0.1,0,0.1,0,0.1,0.1
		c0,0.2,0.1,0.3,0.1,0.5c0,0.2,0.1,0.3,0.2,0.5c0.1,0.2,0.3,0.3,0.5,0.4c0.2,0.1,0.3,0.1,0.5,0.1c0,0,0.1,0,0.1,0
		c0.1-0.1,0.2-0.1,0.3-0.2c0.1-0.1,0.2-0.2,0.3-0.3c0.3-0.2,0.4-0.5,0.6-0.8c0.1-0.2,0.2-0.4,0.3-0.6c0-0.1,0-0.1,0-0.2
		c0,0-0.1,0-0.1,0c-0.2,0.1-0.3,0-0.5,0c0,0,0,0,0,0c-0.1-0.1-0.1-0.1-0.1-0.2c0-0.1,0-0.1-0.1-0.2c-0.1-0.1-0.1-0.2-0.1-0.3
		c0,0,0-0.1,0-0.1c0-0.1,0-0.2,0-0.2c0-0.1,0-0.2,0-0.2c0,0,0-0.1,0-0.1c0-0.1,0.1-0.2,0.1-0.3c0-0.1,0.1-0.2,0.2-0.2
		c0.1,0,0.1,0,0.1,0c0.1-0.1,0.3-0.1,0.4-0.2c0.1-0.1,0.3-0.1,0.4-0.1c0.1,0,0.1,0,0.2,0c0-0.1,0-0.2,0-0.2c0,0,0-0.1,0-0.1
		c0-0.5-0.1-0.9-0.2-1.3c0-0.2-0.1-0.4-0.2-0.5c0-0.1-0.1-0.2-0.1-0.3c0-0.1-0.1-0.1-0.1-0.1c-0.1-0.3-0.3-0.5-0.5-0.7
		c0,0-0.1-0.1-0.1-0.1c-0.1-0.1-0.2-0.2-0.3-0.2c-0.1,0-0.2-0.1-0.2-0.2c-0.1,0-0.1-0.1-0.2-0.1c-0.1,0-0.2-0.1-0.3-0.2
		c-0.1-0.1-0.3-0.1-0.4-0.2c-0.3-0.1-0.6-0.1-0.9-0.1c-0.1,0-0.2,0-0.3,0c0,0-0.1,0-0.1,0c-0.3,0-0.5,0.1-0.8,0.1
		c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0.1-0.2,0.1-0.3,0.2c-0.1,0-0.2,0.1-0.3,0.2c-0.2,0.2-0.4,0.3-0.5,0.5c-0.2,0.2-0.3,0.5-0.4,0.8
		c0,0.1-0.1,0.2-0.1,0.3c0,0,0,0.1,0,0.1c0,0.1,0,0.2,0,0.3c0,0.2,0,0.5,0,0.7c0,0.1,0,0.1,0,0.2c0.1,0.3,0.3,0.6,0.6,0.9
		c0.2,0.1,0.2,0.3,0.4,0.4c0,0,0.1,0.1,0.1,0.1c0,0.1-0.1,0.1-0.2,0.1c-0.1,0-0.1,0-0.2,0c-0.3,0-0.6,0-1,0c-0.2,0-0.4,0-0.6-0.1
		c-0.1,0-0.1,0-0.2,0c-0.2,0-0.4-0.1-0.6-0.2c-0.2-0.1-0.3-0.1-0.5-0.2c-0.2-0.1-0.4-0.2-0.6-0.4c-0.4-0.3-0.7-0.8-1-1.2
		c-0.2-0.3-0.4-0.7-0.5-1.1c-0.1-0.2-0.1-0.4-0.1-0.6c0-0.2,0-0.4,0-0.6c0-0.1,0-0.3,0-0.4c0,0,0-0.1,0-0.1c0-0.2,0.1-0.5,0.1-0.7
		c0-0.1,0-0.2,0.1-0.3c0,0,0,0,0,0c0.1-0.4,0.3-0.7,0.5-1.1c0.1-0.1,0.1-0.2,0.2-0.3c0,0,0-0.1,0-0.1c0-0.1,0-0.1,0.1-0.1
		c0.1-0.1,0.3-0.2,0.4-0.3c0.2-0.2,0.4-0.3,0.6-0.5c0.2-0.2,0.5-0.3,0.7-0.4c0.2-0.1,0.4-0.2,0.6-0.2c0,0,0,0,0.1,0
		c0.2-0.1,0.4-0.1,0.5-0.2c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.2,0,0.3,0c0,0,0,0,0.1,0c0.2,0,0.5,0,0.7,0c0.1,0,0.3,0,0.4,0.1
		c0.1,0,0.2,0,0.4,0.1c0.2,0,0.3,0.1,0.5,0.1c0.2,0,0.4,0.1,0.7,0.2c0,0,0.1,0,0.1,0c0.2,0,0.4,0.2,0.6,0.2c0.2,0.2,0.5,0.2,0.6,0.4
		c0,0,0.1,0.1,0.1,0.1c0.1,0.1,0.2,0.1,0.3,0.2c0.1,0.1,0.2,0.1,0.2,0.2c0,0,0,0,0,0c0.2,0.2,0.4,0.2,0.5,0.4
		c0.1,0.1,0.2,0.2,0.3,0.3c0.1,0,0.1,0.1,0.2,0.2c0.1,0.1,0.2,0.2,0.3,0.3c0,0,0,0,0.1,0.1c0.1,0.2,0.2,0.3,0.4,0.5
		c0.1,0.1,0.1,0.2,0.1,0.2c0.2,0.3,0.4,0.7,0.5,1c0,0,0,0.1,0,0.1c0.1,0.2,0.2,0.3,0.2,0.5c0,0.1,0.1,0.2,0.1,0.3c0,0.1,0,0.1,0,0.2
		c0,0.1,0,0.1,0,0.2c0.1,0.3,0.1,0.5,0.2,0.8c0.1,0.2,0.1,0.5,0.1,0.8c0,0.2,0,0.3,0,0.5c0,0.2,0,0.3,0,0.5c0,0,0,0.1,0,0.1
		c0.1,0,0.2,0,0.4,0c0.1,0,0.1,0,0.1-0.1c0,0,0,0,0,0c-0.1-0.2,0-0.5,0-0.7c0-0.1,0-0.2,0-0.2c0,0,0-0.1,0-0.1
		c0-0.3-0.1-0.6-0.2-0.9c0-0.2-0.1-0.5-0.2-0.7c0-0.1-0.1-0.3-0.1-0.4c0-0.3-0.1-0.5-0.3-0.8c0-0.1-0.1-0.2-0.1-0.3
		c-0.1-0.1-0.1-0.3-0.1-0.4c0-0.1,0-0.1,0-0.2c-0.1-0.2-0.2-0.4-0.4-0.6c-0.1-0.1-0.1-0.2-0.2-0.3c0,0,0-0.1-0.1-0.1
		c-0.1-0.1-0.2-0.2-0.3-0.4c-0.1-0.2-0.2-0.4-0.4-0.6c-0.1-0.1-0.2-0.3-0.3-0.4c-0.1-0.2-0.2-0.4-0.3-0.6c0,0,0-0.1-0.1-0.1
		c0-0.1-0.1-0.1-0.1-0.2c0-0.1-0.1-0.2-0.1-0.2c0,0,0,0,0-0.1c-0.1-0.3-0.2-0.6-0.4-0.9c-0.1-0.1-0.1-0.3-0.1-0.5
		c-0.1-0.3-0.1-0.5-0.2-0.8c0,0,0-0.1,0-0.1c0-0.5-0.1-1,0-1.5c0-0.3,0.1-0.6,0.2-0.9c0-0.1,0.1-0.1,0.1-0.2
		c0.1-0.3,0.2-0.5,0.3-0.8c0.1-0.1,0.1-0.2,0.2-0.3c0.1-0.2,0.3-0.5,0.4-0.7c0.1-0.1,0.1-0.2,0.2-0.2c0.2-0.2,0.3-0.3,0.4-0.5
		c0.1-0.1,0.1-0.2,0.2-0.3c0,0,0-0.1,0.1-0.1c0.1-0.2,0.3-0.4,0.4-0.6c0.1-0.2,0.3-0.4,0.4-0.6c0.1-0.2,0.2-0.4,0.3-0.5
		c0-0.1,0.1-0.2,0-0.2c0.1-0.3,0.3-0.6,0.4-0.8c0.1-0.1,0.1-0.3,0.2-0.4c0-0.1,0.1-0.2,0.1-0.3c0,0,0,0,0,0c0.1-0.2,0.2-0.4,0.3-0.6
		c0.1-0.1,0.1-0.3,0.2-0.4c0.1-0.1,0.1-0.2,0.2-0.4c0-0.1,0.1-0.1,0.1,0c0,0,0,0,0,0.1c0.1,0.2,0.1,0.3,0.2,0.5
		c0.1,0.2,0.2,0.4,0.2,0.6c0.1,0.2,0.2,0.4,0.2,0.5c0,0.1,0.1,0.2,0.1,0.3c0,0.1,0.1,0.1,0.1,0.2c0.1,0.1,0.2,0.2,0.2,0.4
		c0.1,0.2,0.2,0.4,0.3,0.7c0.1,0.1,0.2,0.3,0.2,0.4c0.1,0.2,0.2,0.4,0.3,0.6c0.1,0.2,0.2,0.4,0.3,0.6c0.1,0.2,0.3,0.5,0.4,0.7
		c0,0,0,0,0,0.1c0.1,0.1,0.2,0.2,0.2,0.3c0,0,0,0,0,0c0.1,0.2,0.3,0.4,0.5,0.6c0.1,0.2,0.2,0.4,0.3,0.6c0.1,0.2,0.2,0.4,0.2,0.6
		c0.1,0.1,0.1,0.3,0.1,0.4c0,0,0,0.1,0,0.1c0.1,0.3,0.1,0.6,0.2,1c0,0.2,0,0.4,0,0.6c0,0.1,0,0.3,0,0.4c0,0.2,0,0.4,0,0.5
		c0,0.1,0,0.3,0,0.4c0,0.1,0,0.2-0.1,0.3c0,0,0,0.1-0.1,0.2c-0.1,0.2-0.2,0.4-0.3,0.6c-0.1,0.3-0.3,0.6-0.4,0.9
		c-0.1,0.1-0.1,0.3-0.2,0.4c-0.1,0.2-0.2,0.4-0.3,0.6c-0.1,0.1-0.2,0.3-0.2,0.4c0,0.1-0.1,0.1-0.1,0.2c-0.1,0.2-0.3,0.4-0.5,0.7
		c-0.1,0.1-0.1,0.2-0.2,0.3c-0.2,0.2-0.3,0.5-0.4,0.7c-0.1,0.2-0.2,0.5-0.3,0.7c-0.1,0.3-0.2,0.5-0.3,0.8c0,0.1,0,0.2-0.1,0.3
		c0,0.1-0.1,0.2-0.1,0.4c0,0.2-0.1,0.4-0.1,0.7c0,0.1,0,0.2-0.1,0.3c0,0.1,0,0.3-0.1,0.4c-0.1,0.3-0.1,0.5-0.1,0.8
		c0,0.2,0,0.3,0,0.5c0.1,0,0.2,0,0.4,0c0-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.2,0-0.3c0-0.1,0-0.3,0.1-0.4c0-0.1,0-0.1,0-0.2
		c0-0.2,0.1-0.5,0.2-0.7c0.1-0.4,0.2-0.7,0.3-1.1c0-0.1,0.1-0.2,0.1-0.3c0.1-0.2,0.1-0.3,0.2-0.5c0-0.1,0.1-0.3,0.2-0.4
		c0,0,0-0.1,0.1-0.1c0.1-0.1,0.1-0.2,0.2-0.3c0.2-0.4,0.5-0.7,0.8-1c0.2-0.2,0.3-0.4,0.6-0.6c0.1-0.1,0.2-0.2,0.3-0.3
		c0.1-0.1,0.1-0.1,0.2-0.2c0.1-0.1,0.1-0.1,0.2-0.1c0.1,0,0.1-0.1,0.2-0.1c0.2-0.2,0.5-0.4,0.8-0.5c0.1-0.1,0.3-0.1,0.4-0.2
		c0.1,0,0.2-0.1,0.3-0.1c0,0,0.1,0,0.1,0c0.2-0.1,0.3-0.1,0.5-0.2c0.3-0.1,0.5-0.2,0.8-0.2c0.1,0,0.2,0,0.2,0c0.1,0,0.2,0,0.3,0
		c0.1,0,0.2,0,0.3,0c0.2,0,0.4,0,0.7,0c0.2,0,0.4,0.1,0.7,0.1c0,0,0,0,0,0c0.1,0.1,0.3,0.1,0.4,0.1c0.2,0.1,0.5,0.1,0.7,0.3
		c0.1,0,0.2,0.1,0.3,0.1c0.2,0,0.5,0.3,0.6,0.4c0,0.1,0.1,0.1,0.1,0.1c0.2,0.2,0.4,0.4,0.6,0.6c0.1,0.1,0.2,0.2,0.3,0.4
		c0.2,0.3,0.3,0.6,0.4,0.9c0,0.1,0,0.1,0.1,0.2c0,0.1,0.1,0.2,0.1,0.3c0,0.1,0,0.2,0.1,0.3c0,0,0,0.1,0,0.1c0,0.2,0,0.5,0.1,0.7
		c0,0.1,0,0.1,0,0.2c0,0.4,0,0.8-0.1,1.1c0,0.1,0,0.2-0.1,0.3c0,0.1-0.1,0.2-0.1,0.3c0,0.1-0.1,0.2-0.1,0.3c0,0,0,0.1,0,0.1
		c-0.1,0.4-0.3,0.6-0.6,0.9c-0.1,0.1-0.3,0.3-0.4,0.4c0,0-0.1,0-0.1,0.1c-0.1,0.2-0.3,0.2-0.4,0.4c-0.1,0.1-0.2,0.1-0.3,0.2
		c0,0-0.1,0-0.1,0c-0.2,0-0.3,0.1-0.5,0.1c-0.3,0.1-0.7,0.2-1,0.2c-0.2,0-0.3,0-0.5,0c-0.2,0-0.5,0-0.7,0c-0.1,0-0.2,0-0.3,0
		c0,0,0,0-0.1,0c0,0,0-0.1,0-0.1c0.1-0.1,0.2-0.2,0.3-0.3c0.1-0.1,0.2-0.2,0.3-0.4c0.1-0.1,0.2-0.3,0.3-0.5c0,0,0-0.1,0.1-0.1
		c0-0.1,0.1-0.1,0-0.2c0,0,0,0,0-0.1c0.1-0.2,0.1-0.5,0-0.7c0-0.1,0-0.2,0-0.2c0-0.1,0-0.1,0-0.2c-0.1-0.2-0.2-0.5-0.3-0.7
		c-0.1-0.1-0.2-0.3-0.3-0.4c0-0.1-0.1-0.1-0.1-0.2c0,0-0.1-0.1-0.1-0.1c-0.1-0.1-0.2-0.2-0.3-0.2c-0.1-0.1-0.3-0.2-0.4-0.3
		c0,0-0.1-0.1-0.2-0.1c-0.2-0.1-0.5-0.2-0.7-0.2c-0.1,0-0.2,0-0.2,0c-0.2,0-0.4,0-0.7,0c-0.3,0-0.6,0.1-0.9,0.2
		c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0-0.1,0.1-0.2,0.1c-0.1,0.1-0.2,0.1-0.3,0.2c0,0-0.1,0.1-0.1,0.1
		c-0.1,0.1-0.2,0.3-0.3,0.4c-0.1,0.1-0.1,0.1-0.2,0.2c-0.2,0.2-0.4,0.5-0.5,0.7c0,0,0,0,0,0.1c0,0.1-0.1,0.3-0.1,0.4
		c-0.1,0.3-0.1,0.5-0.2,0.8c0,0.2,0,0.4,0,0.6c0,0.1,0,0.2,0,0.3c0,0,0,0,0,0.1c0,0,0.1,0,0.1,0c0.1,0,0.3,0.1,0.4,0.2
		c0.1,0.1,0.2,0.1,0.3,0.1c0.2,0.1,0.3,0.2,0.4,0.3c0.1,0,0.1,0.1,0.1,0.2c0,0.1,0,0.2,0,0.4c0,0.1,0,0.2-0.1,0.4
		c-0.1,0.2-0.2,0.4-0.3,0.6c-0.1,0.2-0.3,0.2-0.4,0.1c-0.1,0-0.1,0-0.2-0.1c-0.1,0,0,0.1,0,0.1c0.1,0.2,0.1,0.4,0.2,0.6
		c0,0.1,0.1,0.1,0.1,0.2c0.1,0.2,0.2,0.3,0.3,0.4c0.1,0,0.1,0.1,0.1,0.2c0.1,0.2,0.2,0.3,0.4,0.4c0,0,0,0,0.1,0.1
		c0.1,0.1,0.3,0.2,0.4,0.2c0.1,0,0.5,0,0.5-0.1c0.1-0.1,0.2-0.1,0.3-0.2c0.1-0.1,0.2-0.2,0.2-0.3c0.1-0.2,0.2-0.4,0.2-0.6
		c0-0.1,0-0.1,0.1-0.2c0-0.1,0-0.1,0.1-0.1c0.1,0,0.1,0,0.2,0c0,0,0.1,0,0.1,0.1c0.1,0.1,0.1,0.2,0.2,0.2c0,0,0,0,0.1,0.1
		c0.1,0.2,0.2,0.3,0.3,0.5c0.1,0.2,0.2,0.5,0.3,0.8c0,0.1,0,0.1,0,0.2c0,0.1,0,0.3,0,0.4c0,0.2,0,0.3,0,0.5c0,0.1,0,0.1-0.1,0.2
		c0,0,0,0.1-0.1,0.1c0,0,0,0.1,0,0.2c0,0.1,0,0.1-0.1,0.2c-0.1,0-0.2,0.1-0.2,0.2c-0.1,0.1-0.3,0.2-0.4,0.3c-0.1,0-0.1,0.1-0.2,0.1
		c-0.1,0.1-0.3,0.1-0.4,0.1c-0.1,0-0.2,0-0.3,0c-0.1,0-0.1,0-0.2,0c-0.4-0.1-0.7-0.1-1.1-0.3c0,0-0.1,0-0.1,0
		c-0.1,0-0.1-0.1-0.2-0.1c0,0-0.1,0-0.1-0.1c-0.1-0.1-0.3-0.1-0.4-0.2c-0.3-0.4-0.6-0.7-0.8-1.2c-0.1-0.2-0.2-0.4-0.3-0.7
		c-0.1-0.2-0.1-0.5-0.2-0.7c-0.1-0.2-0.2-0.5-0.3-0.8c0-0.1,0-0.2-0.1-0.2c0-0.2-0.1-0.3-0.1-0.5c0-0.1-0.1-0.1-0.1-0.1
		C152.5,219.6,152.4,219.5,152.3,219.5 M153.7,201.8C153.7,201.7,153.7,201.7,153.7,201.8C153.7,201.7,153.7,201.7,153.7,201.8
		C153.8,201.8,153.8,201.8,153.7,201.8C153.8,201.8,153.8,201.8,153.7,201.8 M151.5,197.4C151.4,197.4,151.4,197.5,151.5,197.4
		c-0.1,0.3-0.2,0.4-0.3,0.6c-0.1,0.1-0.1,0.3-0.2,0.4c0,0.1-0.1,0.2-0.1,0.3c-0.2,0.4-0.4,0.7-0.5,1.1c0,0.1-0.1,0.1-0.1,0.2
		c-0.1,0.1-0.2,0.3-0.3,0.4c-0.1,0.1-0.1,0.2-0.1,0.3c-0.2,0.4-0.4,0.7-0.7,1.1c-0.2,0.3-0.5,0.7-0.7,1c-0.1,0.2-0.2,0.3-0.3,0.5
		c0,0,0,0.1,0,0.1c0,0.1,0,0.1-0.1,0.2c-0.1,0.2-0.2,0.4-0.3,0.6c0,0.1-0.1,0.2-0.1,0.3c0,0.1-0.1,0.2-0.1,0.2
		c0,0.2-0.1,0.4-0.1,0.7c0,0.3,0,0.7,0,1c0,0.2,0,0.4,0,0.5c0,0.3,0.1,0.5,0.2,0.8c0,0,0,0.1,0,0.1c0.1,0.3,0.2,0.5,0.3,0.8
		c0.1,0.1,0.1,0.3,0.2,0.4c0,0.1,0.1,0.2,0.1,0.2c0,0.1,0.1,0.2,0.2,0.3c0.1,0.1,0.1,0.2,0.2,0.3c0,0,0.1,0.1,0.1,0.1
		c0.1,0.2,0.2,0.3,0.3,0.4c0.1,0.2,0.2,0.3,0.3,0.5c0.1,0.1,0.1,0.2,0.2,0.3c0.1,0.1,0.2,0.2,0.2,0.3c0,0,0,0.1,0.1,0.1
		c0,0.1,0,0.1,0.1,0.1c0.1,0,0.1,0.1,0.1,0.2c0,0,0,0.1,0,0.1c0.1,0.1,0.1,0.2,0.2,0.3c0.1,0.2,0.2,0.3,0.2,0.5
		c0.1,0.2,0.2,0.3,0.2,0.5c0,0.1,0.1,0.2,0.1,0.3c0,0.1,0.1,0.2,0.1,0.3c0,0,0,0.1,0,0.1c0.1,0.2,0.1,0.4,0.2,0.6
		c0,0.2,0.1,0.4,0.1,0.6c0,0,0,0,0,0c0.1,0.1,0.1,0.3,0.1,0.4c0,0.2,0,0.3,0.1,0.5c0,0.1,0,0.2,0,0.3c0,0.1,0,0.3,0.1,0.4
		c0,0.1,0,0.2,0,0.2c0,0.2,0,0.4,0,0.6c0,0,0,0.1,0,0.1c0,0.1,0,0.1,0,0.2c0,0,0,0.1,0,0.1c0,0,0,0.1-0.1,0.1c0,0,0,0-0.1,0
		c-0.2,0-0.3,0-0.5,0c0,0-0.1,0-0.1,0c-0.1,0-0.2,0-0.3,0c-0.1,0-0.1,0-0.2,0c0,0-0.1,0-0.1-0.1c0-0.1,0-0.1,0-0.2
		c-0.1-0.1,0-0.2,0-0.3c0,0,0-0.1,0-0.1c0-0.2,0-0.4,0-0.7c0-0.1,0-0.2,0-0.3c0-0.2-0.1-0.4-0.1-0.6c-0.1-0.3-0.1-0.5-0.2-0.8
		c0-0.2-0.1-0.3-0.2-0.4c-0.1-0.2-0.3-0.4-0.3-0.6c-0.1-0.2-0.1-0.3-0.2-0.5c-0.1-0.2-0.2-0.3-0.3-0.5c-0.2-0.4-0.5-0.7-0.7-1
		c-0.1-0.2-0.3-0.3-0.5-0.5c-0.1-0.1-0.1-0.1-0.2-0.2c-0.1-0.1-0.1-0.1-0.2-0.1c-0.2-0.2-0.4-0.3-0.6-0.5c-0.1-0.1-0.2-0.1-0.4-0.2
		c-0.2-0.1-0.4-0.2-0.6-0.3c-0.1,0-0.1,0-0.2-0.1c-0.1,0-0.1,0-0.2-0.1c-0.2-0.1-0.3-0.1-0.5-0.2c-0.2-0.1-0.4-0.1-0.6-0.1
		c-0.1,0-0.2,0-0.3,0c-0.2,0-0.3-0.1-0.5-0.1c-0.3,0-0.6,0-0.9,0.1c-0.3,0-0.5,0.1-0.8,0.1c0,0-0.1,0-0.1,0
		c-0.2,0.1-0.3,0.1-0.5,0.2c-0.1,0-0.3,0.1-0.4,0.2c0,0-0.1,0.1-0.1,0.1c-0.3,0.2-0.5,0.3-0.7,0.6c-0.1,0.1-0.3,0.3-0.4,0.5
		c-0.1,0.1-0.2,0.2-0.2,0.3c-0.1,0.2-0.2,0.4-0.3,0.6c-0.1,0.2-0.1,0.4-0.2,0.6c0,0.1-0.1,0.3-0.1,0.4c0,0.2,0,0.5-0.1,0.7
		c0,0.1,0,0.1,0,0.2c0,0.1,0,0.2,0,0.2c0,0.3,0.1,0.5,0.2,0.8c0.1,0.4,0.3,0.8,0.5,1.2c0.1,0.1,0.1,0.2,0.2,0.3
		c0.1,0.1,0.2,0.2,0.4,0.3c0.2,0.2,0.4,0.3,0.6,0.4c0,0,0.1,0.1,0.1,0.1c0.1,0.1,0.2,0.1,0.3,0.2c0.1,0.1,0.2,0.1,0.3,0.2
		c0.1,0,0.2,0.1,0.4,0.1c0.1,0,0.2,0.1,0.3,0.1c0.2,0,0.4,0,0.6,0.1c0.1,0,0.2,0,0.3,0c0,0,0.1,0,0.1-0.1c-0.1-0.1-0.2-0.1-0.3-0.2
		c-0.2-0.1-0.3-0.2-0.5-0.3c-0.2-0.1-0.4-0.2-0.6-0.4c-0.1,0-0.1-0.1-0.1-0.2c0,0,0-0.1,0-0.1c-0.1-0.1-0.2-0.2-0.2-0.3
		c0,0-0.1-0.1-0.1-0.1c-0.2-0.2-0.3-0.4-0.4-0.7c0-0.1,0-0.1,0-0.2c0-0.1-0.1-0.2-0.1-0.3c0,0,0-0.1,0-0.1c0-0.1,0-0.3,0-0.4
		c0-0.3,0-0.5,0-0.8c0-0.1,0-0.2,0.1-0.3c0-0.1,0-0.1,0-0.2c0-0.1,0.1-0.2,0.1-0.4c0-0.1,0.1-0.1,0.1-0.2c0-0.1,0.1-0.2,0.2-0.2
		c0.1-0.2,0.3-0.4,0.5-0.5c0,0,0.1,0,0.1-0.1c0.2-0.1,0.3-0.2,0.5-0.3c0.2-0.1,0.3-0.2,0.5-0.2c0.2-0.1,0.4-0.2,0.6-0.2
		c0.1,0,0.2,0,0.3-0.1c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.1,0,0.2,0c0.1-0.1,0.3-0.1,0.5,0c0.3,0,0.6,0.1,1,0.2c0.2,0.1,0.4,0.1,0.6,0.2
		c0.2,0.1,0.3,0.1,0.5,0.2c0.2,0.1,0.4,0.2,0.7,0.3c0.2,0.1,0.4,0.2,0.6,0.3c0.1,0,0.1,0.1,0.2,0.1c0.3,0.2,0.5,0.5,0.7,0.8
		c0.2,0.3,0.4,0.5,0.5,0.8c0.1,0.1,0.1,0.3,0.2,0.4c0,0,0,0.1,0,0.1c0.2,0.3,0.3,0.7,0.3,1c0,0.1,0,0.2,0,0.2
		c0.1,0.2,0.1,0.4,0.2,0.6c0,0.1,0,0.1,0,0.2c0.1,0.2,0.1,0.4,0.1,0.6c0,0.2,0,0.4-0.1,0.7c0,0,0,0.1-0.1,0.1c-0.1,0-0.1,0-0.2,0.1
		c0,0,0,0-0.1,0c-0.2,0.1-0.3,0.1-0.5,0.2c-0.2,0.1-0.4,0.2-0.6,0.3c0,0-0.1,0.1-0.1,0.1c0,0.1,0,0.2,0,0.3c0,0.1,0,0.2,0.1,0.3
		c0.1,0,0.1-0.1,0.1-0.2c0.2-0.1,0.4-0.1,0.6-0.1c0,0,0.1,0,0.1,0c0.1,0,0.2-0.1,0.2-0.1c0.1,0,0.1,0,0.2,0c0.2,0,0.5-0.1,0.7-0.1
		c0.1,0,0.2,0,0.2,0c0.3-0.1,0.5-0.1,0.8-0.1c0.2,0,0.3,0,0.5,0c0.1,0,0.2,0,0.3,0c0.2,0,0.4,0,0.6,0.1c0.2,0,0.5,0.1,0.7,0.1
		c0.1,0,0.3,0.1,0.4,0.1c0,0,0.1,0,0.2,0.1c0.1,0,0.2,0.1,0.3,0.1c0.1,0,0.2,0.1,0.2,0.1c0.1,0,0.1,0.1,0.2,0.1c0,0,0.1,0,0.1,0
		c0.1-0.1,0.1-0.1,0.1-0.2c0-0.1,0-0.2,0-0.3c0,0,0-0.1,0-0.1c-0.1,0-0.2-0.1-0.2-0.2c0,0,0,0-0.1,0c-0.1,0-0.1-0.1-0.2-0.1
		c-0.1-0.1-0.2-0.1-0.4-0.2c0,0-0.1,0-0.1,0c-0.1-0.1-0.2-0.1-0.4-0.1c-0.1,0-0.1,0-0.2,0c0,0-0.1,0-0.1,0c0-0.1,0-0.2,0-0.2
		c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1,0-0.2c0-0.4,0.1-0.8,0.2-1.3c0-0.1,0-0.2,0.1-0.3c0.1-0.4,0.2-0.7,0.4-1.1c0.1-0.3,0.2-0.5,0.4-0.8
		c0.1-0.2,0.3-0.4,0.4-0.6c0.1-0.1,0.2-0.3,0.3-0.4c0.1-0.1,0.1-0.2,0.2-0.2c0.1-0.1,0.2-0.2,0.3-0.3c0.1-0.1,0.3-0.3,0.5-0.4
		c0.2-0.1,0.5-0.2,0.7-0.3c0.2-0.1,0.4-0.1,0.6-0.2c0.2-0.1,0.5-0.1,0.7-0.2c0,0,0.1,0,0.1,0c0.3-0.1,0.6-0.1,0.8-0.1
		c0.3,0,0.6,0,0.9,0c0.2,0,0.4,0,0.6,0.1c0.2,0.1,0.4,0.1,0.5,0.2c0,0,0,0,0,0c0.2,0.1,0.3,0.2,0.5,0.3c0.2,0.1,0.3,0.3,0.5,0.5
		c0,0,0,0,0,0c0.1,0.1,0.1,0.2,0.2,0.3c0,0.1,0.1,0.1,0.1,0.2c0,0,0.1,0.1,0.1,0.1c0,0.1,0,0.1,0.1,0.1c0.1,0,0.1,0.1,0.2,0.2
		c0.1,0.2,0.1,0.4,0.1,0.6c0,0.1,0,0.1,0,0.2c0,0.1,0,0.2,0.1,0.2c0,0,0,0.1,0,0.1c0,0.1,0,0.2,0,0.4c0.1,0.2,0,0.3,0,0.5
		c0,0.1-0.1,0.2-0.1,0.3c0,0.1,0,0.1-0.1,0.2c-0.1,0.2-0.2,0.5-0.4,0.7c-0.1,0.1-0.2,0.2-0.3,0.4c-0.2,0.2-0.4,0.5-0.7,0.6
		c-0.1,0.1-0.2,0.1-0.3,0.2c-0.2,0.1-0.3,0.2-0.5,0.3c0,0,0,0,0,0.1c0.2,0,0.3,0,0.5,0c0.2,0,0.4,0,0.6-0.1c0.2-0.1,0.4-0.1,0.6-0.2
		c0.1,0,0.2-0.1,0.3-0.1c0,0,0.1,0,0.1-0.1c0.4-0.2,0.7-0.4,1-0.7c0.1-0.1,0.2-0.2,0.2-0.3c0.3-0.4,0.5-0.8,0.7-1.3
		c0.1-0.3,0.1-0.7,0.1-1.1c0-0.3,0-0.6,0-0.9c0-0.3-0.1-0.7-0.2-1c0,0,0-0.1,0-0.1c-0.1-0.2-0.1-0.4-0.2-0.6c0-0.1,0-0.1-0.1-0.2
		c-0.1-0.1-0.2-0.2-0.2-0.4c-0.1-0.1-0.2-0.2-0.3-0.3c-0.1-0.1-0.1-0.1-0.2-0.2c-0.2-0.1-0.3-0.3-0.5-0.3c0,0-0.1,0-0.1,0
		c-0.1-0.1-0.1-0.1-0.2-0.1c0,0,0,0-0.1,0c-0.1-0.1-0.2-0.2-0.4-0.2c-0.1-0.1-0.3-0.1-0.4-0.2c-0.3-0.1-0.6-0.2-0.8-0.2
		c-0.3,0-0.6-0.1-1,0c-0.4,0-0.7,0-1.1,0.1c0,0-0.1,0-0.1,0c-0.2,0.1-0.4,0.1-0.7,0.2c-0.1,0-0.2,0.1-0.2,0.1
		c-0.3,0.1-0.5,0.2-0.8,0.4c-0.2,0.1-0.4,0.3-0.6,0.4c-0.2,0.1-0.3,0.2-0.5,0.4c-0.1,0.1-0.1,0.2-0.2,0.2c-0.1,0-0.1,0.1-0.2,0.1
		c-0.1,0.1-0.2,0.3-0.4,0.4c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.2,0.3-0.3,0.4c0,0,0,0.1-0.1,0.1c-0.2,0.3-0.3,0.5-0.5,0.8
		c-0.2,0.3-0.3,0.6-0.4,0.9c-0.1,0.2-0.2,0.5-0.2,0.7c0,0.1,0,0.2-0.1,0.3c0,0.1-0.1,0.2-0.1,0.3c0,0.3-0.1,0.5-0.1,0.8
		c-0.1,0.3-0.1,0.7-0.1,1c0,0.1,0,0.1,0.1,0.2c0.1,0,0.1,0.1,0,0.1c0,0.1-0.1,0.1-0.1,0.1c0,0-0.1,0.1-0.1,0.1c-0.1,0-0.2,0-0.2,0
		c-0.1,0-0.2,0-0.4-0.1c-0.1,0-0.2,0-0.3,0c-0.1,0-0.3,0-0.4-0.1c0,0,0-0.1,0-0.1c0-0.1,0-0.1,0-0.1c0-0.2,0-0.4,0-0.7
		c0-0.3,0-0.5,0-0.8c0-0.1,0-0.2,0-0.3c0-0.1,0-0.2,0-0.3c0-0.3,0-0.7,0-1c0-0.2,0-0.3,0-0.5c0-0.3,0-0.5,0-0.8c0-0.2,0-0.4,0-0.6
		c0-0.4,0-0.8,0-1.2c0-0.1,0-0.3,0-0.4c0-0.1,0-0.3,0-0.4c0-0.1,0-0.3,0-0.4c0-0.2,0-0.4,0-0.6c0-0.1,0-0.2,0-0.3
		c0-0.1,0-0.2-0.1-0.2c0,0,0,0,0,0c0-0.1,0-0.2,0-0.3c0,0,0-0.1,0-0.1c0-0.1,0-0.2,0-0.3c0-0.1,0-0.2,0-0.2c0-0.1,0-0.2,0-0.3
		c0-0.1,0-0.2,0-0.3c0-0.2,0-0.4,0-0.6c0-0.1,0-0.2,0-0.3c0-0.3,0-0.6,0-0.9c0-0.2,0-0.4,0-0.6c0-0.1,0-0.3,0-0.4c0-0.1,0-0.3,0-0.4
		c0-0.2,0-0.3,0-0.5c0-0.1,0-0.1,0-0.2c0-0.4,0-0.7,0.1-1.1c0-0.1,0-0.3,0.1-0.4c0,0,0,0,0-0.1c0-0.2,0-0.3,0-0.5c0-0.2,0-0.4,0-0.5
		c0-0.2,0-0.4,0-0.6c0-0.2,0-0.4,0-0.6c0-0.1,0-0.2,0-0.3c0-0.1,0-0.2,0-0.3c0-0.2,0-0.3,0-0.5c0-0.1,0-0.2,0-0.3
		C151.6,198,151.5,197.7,151.5,197.4C151.5,197.4,151.5,197.4,151.5,197.4 M151.3,219.2c0,0,0,0.1,0,0.1c0,0.2,0,0.4-0.1,0.5
		c0,0.2-0.1,0.5-0.2,0.7c0,0,0,0.1,0,0.1c0,0.2-0.1,0.5-0.2,0.7c-0.1,0.2-0.1,0.4-0.2,0.6c-0.1,0.2-0.1,0.4-0.3,0.6c0,0,0,0,0,0
		c-0.1,0.3-0.3,0.6-0.4,0.9c0,0,0,0.1-0.1,0.1c-0.1,0.2-0.2,0.3-0.3,0.5c-0.1,0.1-0.1,0.1,0,0.2c0.1,0.1,0.2,0.3,0.2,0.4
		c0.2,0.3,0.3,0.6,0.5,0.9c0.2,0.4,0.4,0.9,0.7,1.3c0.1,0.3,0.3,0.6,0.5,0.8c0,0,0,0.1,0.1,0c0-0.2,0-0.4,0-0.5c0-0.3,0-0.5,0-0.8
		c0-0.4,0-0.8,0-1.2c0,0,0-0.1,0-0.1c0-0.2,0-0.3,0-0.5c0-0.1,0-0.1,0-0.2c0-0.2,0.1-0.5,0-0.7c0,0,0-0.1,0-0.1c0-0.3,0-0.5,0-0.8
		c0,0,0,0,0,0c0-0.1,0-0.1,0-0.2c0-0.1,0-0.3,0.1-0.4c0-0.1,0.1-0.3,0-0.4c0-0.2,0-0.3-0.1-0.5c0-0.3,0-0.5,0-0.8c0-0.2,0-0.3,0-0.5
		c0-0.2,0-0.5,0-0.7c0,0,0-0.1,0-0.1c0-0.1,0-0.1-0.1-0.1C151.4,219.2,151.3,219.2,151.3,219.2 M153.1,219.4c0,0.1,0,0.2,0,0.3
		c0,0,0,0.1,0,0.1c0,0.3,0.1,0.6,0.2,0.8c0,0,0,0.1,0,0.1c0,0.1,0,0.1,0.1,0.2c0.1,0.2,0.1,0.4,0.2,0.5c0,0,0,0,0,0
		c0,0.2,0.1,0.3,0.2,0.5c0.1,0.2,0.2,0.3,0.2,0.5c0,0.1,0.1,0.1,0.1,0.2c0.1,0.2,0.2,0.4,0.4,0.6c0,0,0.1,0.1,0.1,0.1
		c0.2,0.1,0.3,0.2,0.5,0.3c0,0,0.1,0.1,0.1,0.1c0.4,0.2,0.8,0.4,1.2,0.5c0.1,0,0.2,0,0.2,0c0,0,0.1,0,0.1,0c0.2,0,0.4-0.1,0.5-0.2
		c0.3-0.1,0.5-0.3,0.6-0.7c0-0.1,0.1-0.2,0.1-0.3c0-0.1,0-0.2,0-0.2c0-0.1,0.1-0.2,0-0.3c0-0.3-0.1-0.6-0.2-0.8
		c-0.1-0.1-0.1-0.2-0.2-0.4c0,0,0,0-0.1,0c0,0.1,0,0.1,0,0.2c0,0.1,0,0.3,0,0.4c0,0.1,0,0.1,0,0.2c0,0.1,0,0.2-0.1,0.3
		c0,0.1-0.1,0.1-0.1,0.2c-0.1,0.1-0.1,0.2-0.2,0.3c-0.1,0.1-0.2,0.2-0.4,0.3c-0.1,0-0.1,0.1-0.2,0.1c-0.1,0-0.2,0-0.3,0
		c-0.2,0-0.4,0-0.5,0c-0.2,0-0.4-0.1-0.6-0.3c0,0,0,0,0,0c-0.1-0.1-0.2-0.2-0.3-0.3c-0.1-0.1-0.2-0.2-0.3-0.3
		c-0.1-0.1-0.2-0.2-0.2-0.3c0,0,0,0,0-0.1c-0.2-0.3-0.4-0.5-0.5-0.9c-0.1-0.2-0.1-0.4-0.1-0.5c0-0.1,0-0.2-0.1-0.3
		c-0.1-0.1-0.1-0.2-0.2-0.4c0-0.1-0.1-0.2-0.1-0.4c0-0.1,0-0.2,0-0.2c0-0.1-0.1-0.1-0.1-0.1c-0.1,0-0.2,0-0.4,0
		C153,219.2,153,219.3,153.1,219.4 M149.4,219.2c0,0.1,0,0.2,0,0.2c0,0.1,0,0.1,0,0.2c0,0.2,0,0.3-0.1,0.4c-0.1,0.1-0.1,0.1-0.1,0.2
		c-0.1,0.2-0.2,0.4-0.3,0.6c0,0,0,0.1,0,0.1c0,0.1-0.1,0.2-0.2,0.2c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.3,0.2-0.4,0.3
		c-0.1,0.1-0.2,0.1-0.3,0.2c-0.1,0.1-0.3,0.1-0.4,0.2c-0.1,0-0.1,0-0.2,0c-0.2,0-0.4-0.1-0.6-0.1c0,0,0,0,0,0
		c-0.1-0.1-0.2-0.1-0.3-0.2c-0.1-0.1-0.3-0.2-0.3-0.3c0-0.1-0.1-0.1-0.1-0.2c0-0.1-0.1-0.2-0.1-0.3c0,0,0-0.1-0.1-0.1c0,0,0,0,0,0
		c0,0,0,0,0,0c0,0.3-0.1,0.5-0.1,0.8c0,0.1,0,0.1,0,0.2c0,0,0.1,0.1,0.1,0.1c0,0.2,0.1,0.3,0.2,0.5c0.1,0.1,0.1,0.3,0.3,0.3
		c0.1,0.1,0.2,0.1,0.3,0.2c0.1,0,0.1,0,0.2,0c0.3,0,0.5,0,0.8-0.1c0.1,0,0.2,0,0.2,0c0.2,0,0.3-0.1,0.4-0.2c0,0,0,0,0,0
		c0.3-0.4,0.6-0.7,0.9-1.1c0.1-0.1,0.1-0.1,0.1-0.2c0-0.1,0.1-0.2,0.1-0.3c0.1-0.3,0.2-0.5,0.3-0.8c0,0,0-0.1,0-0.1
		c0.1-0.2,0.1-0.3,0.2-0.5c0-0.1,0-0.2,0.1-0.3c0-0.1,0-0.2,0.1-0.3c0,0,0-0.1,0-0.1c0,0,0-0.1-0.1-0.1
		C149.5,219.2,149.5,219.2,149.4,219.2 M153.6,201.5c0,0.1,0,0.1,0.1,0.1C153.7,201.5,153.6,201.5,153.6,201.5 M153.4,201.1
		c0,0.1,0,0.1,0,0.1C153.5,201.1,153.5,201.1,153.4,201.1"/>
</g>
</svg>

            </div>
          </div>
          <div class="ready">
            <!--h3 Start your story by saying <br> One time in New Orleans-->
            <div class="circularButton submitForm">
              <h1>I'm Ready</h1>
            </div>
            <div class="btnContainer">
              <div class="back btn rect">
                <p>Back</p>
              </div>
            </div>
          </div>
          <div class="go">
            <h3>You’re up! <br> Step into the <br> booth and <br> look for <br> your name.</h3>
          </div>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/onboard.js"></script>
  </body>
</html>