<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Nola300 Timer</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/timer.css">
	</head>
	<body>

		<div class="container-fluid">
			
			<div id="main" class="valign">

				<div id="timer">:00</div>

				<div id="thanks">
					<div class="header">Thanks!</div>
					<div class="footer">
						We’ll email your story after <br />
						moderation within 24 hours.
					</div>
				</div> <!-- #thanks -->

				<div id="welcome">
					<div class="header">
						<div id="firstName">John</div>
						<div id="lastName">Doe</div>
					</div>
					<img class="pedal" src="/images/footpedal.png" />
					<div class="footer">Tap foot pedal to start recording.</div>
				</div> <!-- #welcome -->

			</div> <!-- #main -->

		</div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="/js/jquery-3.2.1.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io.connect("/ui");
			var timer = $("#timer");
			var welcome = $("#welcome");
			var thanks = $("#thanks");

			socket.on('countdown', function (data) {
				timer.text( ":"+data[2] );
				welcome.hide();
				thanks.hide();
				timer.show();
			});

			socket.on('story', function(story) {
				console.log(story);
				welcome.show();
				thanks.hide();
				timer.hide();
				$("#firstName").text(story.firstName);
				$("#lastName").text(story.lastName);		
			});

			socket.on('state', function(state){
				console.log(state, Date.now());
				switch(state) {
					case "idle":
						timer.text(":00");
						welcome.hide();
						thanks.hide();
						timer.hide();
						break;
					case "submitted":
						break;
					case "starting":
						break;
					case "in progress":
						break;
					case "stopping":
						thanks.show();
						welcome.hide();
						timer.hide();
						break;
				}
			});
		</script>
	</body>
</html>