/* Space out content a bit */

/* Customize container */
@media (min-width: 48em) {
	.container {
		max-width: 46rem;
	}
}
.container-narrow > hr {
	margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	border-bottom: .05rem solid #e5e5e5;
	margin: 0.5rem;
	padding-bottom: 2em;
}
.jumbotron .btn {
	padding: .75rem 1.5rem;
	font-size: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}

#recent {
	font-size: 10pt;
}