@font-face {
  font-family: "F37Bolton-Regular";
  src: url("../assets/fonts/F37Bolton-Regular.svg#F37Bolton-Regular") format("svg");
  src: url("../assets/fonts/F37Bolton-Regular.otf") format("opentype");
  src: url("../assets/fonts/F37Bolton-Regular.woff") format("woff");
  src: url("../assets/fonts/F37Bolton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "F37Bolton";
  src: url("../assets/fonts/F37Bolton-Regular.svg#F37Bolton-Regular") format("svg");
  src: url("../assets/fonts/F37Bolton-Regular.otf") format("opentype");
  src: url("../assets/fonts/F37Bolton-Regular.woff") format("woff");
  src: url("../assets/fonts/F37Bolton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "F37Bolton";
  src: url("../assets/fonts/F37Bolton-Bold.svg#F37Bolton-Bold") format("svg");
  src: url("../assets/fonts/F37Bolton-Bold.otf") format("opentype");
  src: url("../assets/fonts/F37Bolton-Bold.woff") format("woff");
  src: url("../assets/fonts/F37Bolton-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "F37Bolton";
  src: url("../assets/fonts/F37Bolton-Light.svg#F37Bolton-Light") format("svg");
  src: url("../assets/fonts/F37Bolton-Light.otf") format("opentype");
  src: url("../assets/fonts/F37Bolton-Light.woff") format("woff");
  src: url("../assets/fonts/F37Bolton-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: "F37Bolton";
  src: url("../assets/fonts/F37Bolton-Thin.svg#F37Bolton-Thin") format("svg");
  src: url("../assets/fonts/F37Bolton-Thin.otf") format("opentype");
  src: url("../assets/fonts/F37Bolton-Thin.woff") format("woff");
  src: url("../assets/fonts/F37Bolton-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

* {
  box-sizing: border-box;
  position: relative; }

html {
  font-size: 1px;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0; }

body {
  font-size: 13rem; }

p {
  font-size: 13rem; }

h1 {
  font-size: 18rem; }

body, div, p, h1, h2, h3, h4, h5, h6, span, input, textarea {
  font-family: "F37Bolton", Helvetica, sans-serif; }

figure img {
  width: 100%; }

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh; }
  body .content {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  body .view {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-transition: transform 600ms;
    -o-transition: transform 600ms;
    -webkit-transition: transform 600ms;
    transition: transform 600ms; }
    body .view.selected {
      display: block;
      -moz-transform: translateX(0%);
      -o-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -webkit-transform: translateX(0%);
      transform: translateX(0%); }
    body .view .bg {
      -moz-transition: translateX 600ms;
      -o-transition: translateX 600ms;
      -webkit-transition: translateX 600ms;
      transition: translateX 600ms;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden; }
      body .view .bg .video {
        -moz-transition: transform 600ms;
        -o-transition: transform 600ms;
        -webkit-transition: transform 600ms;
        transition: transform 600ms;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%); }
        body .view .bg .video img {
          width: 100%; }
        body .view .bg .video video {
          position: fixed;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: -100;
          -moz-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
        body .view .bg .video.selected {
          -moz-transform: translateX(0%);
          -o-transform: translateX(0%);
          -ms-transform: translateX(0%);
          -webkit-transform: translateX(0%);
          transform: translateX(0%); }
      body .view .bg .color {
        -moz-transition: transform 600ms;
        -o-transition: transform 600ms;
        -webkit-transition: transform 600ms;
        transition: transform 600ms;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        -moz-transform: translateX(100%);
        -o-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        background: red;
        mix-blend-mode: screen; }
        body .view .bg .color.selected {
          -moz-transform: translateX(0%);
          -o-transform: translateX(0%);
          -ms-transform: translateX(0%);
          -webkit-transform: translateX(0%);
          transform: translateX(0%); }
    body .view .container {
      -moz-transition: transform 600ms;
      -o-transition: transform 600ms;
      -webkit-transition: transform 600ms;
      transition: transform 600ms;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100vh;
      left: 0;
      -moz-transform: translateX(100%);
      -o-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%); }
      body .view .container.selected {
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0); }
      body .view .container .leftBar, body .view .container .rightBar {
        display: inline-block;
        height: 100%;
        vertical-align: top; }
      body .view .container .leftBar {
        width: 39%;
        padding-top: 75rem;
        padding-left: 25rem; }
        body .view .container .leftBar .title {
          font-size: 95rem;
          font-weight: normal;
          letter-spacing: 2rem; }
        body .view .container .leftBar .progress {
          -moz-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          position: absolute;
          bottom: 105rem;
          right: 50%; }
          body .view .container .leftBar .progress .copy span {
            font-size: 10rem; }
            body .view .container .leftBar .progress .copy span::after, body .view .container .leftBar .progress .copy span:after {
              content: "";
              border-bottom: 1px solid black;
              height: 1px;
              width: 70rem;
              position: absolute;
              top: 40%;
              left: auto;
              margin-left: 15rem; }
      body .view .container .rightBar {
        width: 60%;
        padding-top: 75rem;
        padding-right: 120rem; }
        body .view .container .rightBar .content {
          position: relative;
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column; }
      body .view .container .btnContainer {
        position: absolute;
        bottom: 100rem;
        right: 0; }
        body .view .container .btnContainer .btn.rect {
          display: inline-block;
          width: 130rem;
          height: 40rem;
          border: 2px solid black;
          margin: 0 5rem;
          cursor: pointer; }
          body .view .container .btnContainer .btn.rect.disable {
            opacity: 0.3; }
          body .view .container .btnContainer .btn.rect p {
            font-family: 'F37Bolton-Regular', helvetica, sans-serif;
            font-weight: normal;
            font-size: 17rem;
            margin: 0 auto;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  body #landing .bg .video video {
    opacity: 0.2; }
  body #landing .bg .color, body #landing .bg .video {
    background-color: #062338; }
  body #landing .container {
    color: #E3E7F0;
    display: flex;
    flex-direction: column; }
    body #landing .container .images {
      margin: 0 auto;
      margin-top: 220rem;
      text-align: center;
      width: 75%; }
      body #landing .container .images figure {
        margin: 0 auto; }
        body #landing .container .images figure img {
          margin: 0 auto; }
        body #landing .container .images figure.bigLogo {
          width: 100%; }
        body #landing .container .images figure.smallIcon {
          width: 33rem;
          margin: 20rem auto; }
    body #landing .container .copy {
      width: 51%;
      margin: 15rem auto;
      letter-spacing: 1rem;
      text-align: center; }
      body #landing .container .copy p {
        font-size: 24rem;
        line-height: 33rem; }
        body #landing .container .copy p.title {
          line-height: 13rem;
          margin-bottom: 35rem;
          font-size: 13rem;
          font-weight: bold; }
    body #landing .container .full.btn.bottomBtn {
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-color: #E3E7F0;
      color: black;
      align-items: center;
      display: flex;
      position: absolute;
      bottom: 100rem;
      left: 50%;
      height: 85rem;
      width: 370rem;
      cursor: pointer; }
      body #landing .container .full.btn.bottomBtn p {
        font-size: 16rem;
        font-weight: bold;
        letter-spacing: 2rem;
        margin: 0 auto;
        text-align: center; }
  body #about_you .bg .color, body #about_you .bg .video {
    background-color: #6CBE97; }
  body #about_you .container .content {
    overflow: visible; }
    body #about_you .container .content .header h1 {
      font-weight: normal;
      font-size: 22rem;
      letter-spacing: 2rem; }
    body #about_you .container .content .formContainer input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: transparent;
      border: none;
      border-bottom: 1rem solid black;
      font-weight: normal;
      font-size: 20rem;
      margin-top: 50rem;
      padding-bottom: 10rem;
      padding-left: 10rem; }
      body #about_you .container .content .formContainer input.full {
        width: 100%; }
      body #about_you .container .content .formContainer input.half {
        width: 50%; }
      body #about_you .container .content .formContainer input.required {
        border-bottom: 1rem solid red; }
      body #about_you .container .content .formContainer input::-moz-placeholder {
        color: black;
        font-weight: normal;
        opacity: 1; }
      body #about_you .container .content .formContainer input::-webkit-input-placeholder {
        color: black;
        font-weight: normal;
        opacity: 1; }
      body #about_you .container .content .formContainer input:-moz-placeholder {
        color: black;
        font-weight: normal;
        opacity: 1; }
      body #about_you .container .content .formContainer input:placeholder {
        color: black;
        font-weight: normal;
        opacity: 1; }
    body #about_you .container .content .formContainer .check {
      margin-top: 80rem;
      /* On mouse-over, add a grey background color */
      /* When the checkbox is checked, add a blue background */
      /* Create the checkmark/indicator (hidden when not checked) */
      /* Show the checkmark when checked */
      /* Style the checkmark/indicator */ }
      body #about_you .container .content .formContainer .check .emailList, body #about_you .container .content .formContainer .check .termsAndConditions {
        display: block;
        margin: 30rem 0; }
      body #about_you .container .content .formContainer .check input, body #about_you .container .content .formContainer .check .label {
        display: inline-block;
        vertical-align: top;
        font-weight: normal; }
      body #about_you .container .content .formContainer .check input[type=checkbox] {
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        appearance: checkbox;
        width: 30rem;
        height: 30rem;
        padding: 0;
        margin: 0;
        border: none;
        margin-right: 20rem;
        margin-left: -50rem;
        opacity: 0; }
      body #about_you .container .content .formContainer .check .checkmark {
        -webkit-user-select: none;
        pointer-events: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: -50rem;
        height: 30rem;
        width: 30rem;
        border-radius: 50rem;
        border: 1rem solid black; }
      body #about_you .container .content .formContainer .check input.required ~ .checkmark {
        border: 1rem solid red; }
      body #about_you .container .content .formContainer .check input:hover ~ .checkmark {
        background-color: #cccccc; }
      body #about_you .container .content .formContainer .check input:checked ~ .checkmark {
        background-color: black; }
      body #about_you .container .content .formContainer .check .checkmark:after {
        content: "";
        position: absolute;
        display: none; }
      body #about_you .container .content .formContainer .check input:checked ~ .checkmark:after {
        display: block; }
      body #about_you .container .content .formContainer .check .checkmark:after {
        -moz-transform: translate(-50%, -50%) rotate(45deg);
        -o-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
        top: 50%;
        left: 50%;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0; }
      body #about_you .container .content .formContainer .check .label {
        font-size: 15rem;
        width: 99%; }
        body #about_you .container .content .formContainer .check .label .termsConditionsLink {
          text-decoration: underline;
          font-family: 'F37Bolton', helvetica, sans-serif;
          font-weight: bold; }
  body #about_you .container .termsAndConditions.popup {
    background-color: gray;
    position: absolute;
    top: 20%;
    left: 30%;
    width: 60%; }
    body #about_you .container .termsAndConditions.popup.hidden {
      display: none; }
  body #waiting_room .bg .color {
    mix-blend-mode: multiply;
    background: black;
    opacity: 0.7; }
  body #waiting_room .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white; }
    body #waiting_room .container div.hidden {
      display: none; }
    body #waiting_room .container h3 {
      padding: 0 90rem;
      margin: 210rem auto;
      font-size: 87rem;
      font-weight: normal;
      letter-spacing: 10rem; }
    body #waiting_room .container p {
      font-size: 25rem; }
    body #waiting_room .container .waiting .letteringContainer {
      width: 210rem;
      margin: 40rem auto; }
      body #waiting_room .container .waiting .letteringContainer svg .st0, body #waiting_room .container .waiting .letteringContainer svg .st3, body #waiting_room .container .waiting .letteringContainer svg .st5 {
        fill: #FFFFFF; }
    body #waiting_room .container .ready {
      height: 100%;
      position: relative; }
      body #waiting_room .container .ready h3 {
        color: gray;
        font-weight: lighter;
        letter-spacing: 2rem;
        line-height: 25rem;
        margin-top: 200rem; }
      body #waiting_room .container .ready .btnContainer {
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        left: 50%;
        bottom: 100rem; }
        body #waiting_room .container .ready .btnContainer .btn {
          border-color: #E3E7F0; }
      body #waiting_room .container .ready .circularButton {
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        cursor: pointer;
        border: 2px solid white;
        border-radius: 300rem;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 440rem;
        height: 440rem;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        body #waiting_room .container .ready .circularButton h1 {
          font-size: 38rem;
          font-weight: normal; }
  body #instructions_1 .bg .color, body #instructions_1 .bg .video {
    background-color: #2BC3E7; }
  body #instructions_2 .bg .color {
    background-color: #E23E7E; }
  body .instructions.view .container .rightBar {
    padding-right: 0; }
    body .instructions.view .container .rightBar .content .instructionsContainer .instruction {
      margin: 0;
      margin-bottom: 100rem; }
      body .instructions.view .container .rightBar .content .instructionsContainer .instruction figure, body .instructions.view .container .rightBar .content .instructionsContainer .instruction .copy {
        display: inline-block;
        vertical-align: middle; }
      body .instructions.view .container .rightBar .content .instructionsContainer .instruction figure {
        width: 120rem; }
      body .instructions.view .container .rightBar .content .instructionsContainer .instruction .copy {
        margin-left: -10rem;
        width: 45%; }
        body .instructions.view .container .rightBar .content .instructionsContainer .instruction .copy h1 {
          font-size: 25rem;
          font-weight: bold; }
        body .instructions.view .container .rightBar .content .instructionsContainer .instruction .copy p {
          margin-top: 30rem;
          font-size: 20rem;
          font-weight: thin;
          line-height: 26rem; }
    body .instructions.view .container .rightBar .content .btnContainer {
      right: 120rem; }
